<div class="ngdialog-message">

	<table style="padding: 2px" class="separar" width="100%">
			<tr>
				<th colspan="2" ><h1 align="center">{{title_modal}}</h1></th>
			</tr>
			<tr>
				<th colspan="2" ><b align="center">Secciones</b></th>
			</tr>
			<tr ng-repeat="s in secciones_auxiliar | filter:mayorCero">
				<td>{{s.nombre.split(";")[0]}}</td>
				<td>{{s.nombreProfesor}}</td>
			</tr>
			<tr align="right">
				<td colspan="2">
					<button type="button" class="btn btn btn-danger"
						ng-click="closeThisDialog();"><i class="fa fa-times" aria-hidden="true"></i> Cerrar</button></td>
			</tr>
	</table>
</div>