<div class="ngdialog-message">

	<table style="padding: 2px" class="separar" width="100%">
		<tbody>
			<tr>
				<th colspan="2" ><h1 align="center">{{title_modal}}</h1></th>
			</tr>
			<tr>
				<td width="50%">Nombre:</td>
				<td width="50%"><input id="inputBloque" class="form-control"
					placeholder="Nombre" ng-model="nombre_catedra"></td>
			</tr>
			<tr>
				<td>Cantidad Hs.:</td>
				<td><input id="inputBloque" class="form-control"
					placeholder="Cantidad Hs." ng-model="cantidad_hs_catedra"></td>
			</tr>
			<tr>
				<td>Divisiones:</td>
				<td><input id="inputBloque" class="form-control"
					placeholder="Dvisiones" ng-model="cantidad_div_catedra"></td>
			</tr>
			<tr align="right">
				<td colspan="2"><button type="button"
						class="btn btn btn-success" ng-click="guardar(id_catedra, nombre_catedra, cantidad_hs_catedra, cantidad_div_catedra, id_departamento);closeThisDialog();"><i class="fa fa-floppy-o" aria-hidden="true"></i> Guardar</button>
					<button type="button" class="btn btn btn-danger"
						ng-click="closeThisDialog();"><i class="fa fa-times" aria-hidden="true"></i> Cancelar</button></td>
			</tr>
		</tbody>
	</table>
</div>