<div class="ngdialog-message">
<table style="padding: 2px" class="separar" width="100%">
		<tbody>
			<tr>
				<th colspan="2"><h1 align="center">{{title_modal}}</h1></th>
			</tr>
				<td colspan="2">
					<p>{{message_modal}}</p>
				</td>
			<tr>
			</tr>
			<tr>
				<td width="50%">
					<button style="width: 100%" type="button" class="btn btn btn-success"
					ng-click="confirm(confirmValue) && closeThisDialog('')">
					<i class="fa fa-check" aria-hidden="true"></i> Confirmar</button>
				</td>
				<td width="50%">
					<button style="width: 100%" type="button" class="btn btn btn-danger"
					ng-click="closeThisDialog('')"><i class="fa fa-times" aria-hidden="true"></i> Cancel</button>
				</td>
			</tr>
		</tbody>
		</table>
</div>