<div class="ngdialog-message">

	<table style="padding: 2px" class="separar" width="100%">
		<tbody>
			<tr>
				<th colspan="2" ><h1 align="center">{{title_modal}}</h1></th>
			</tr>
			<tr>
				<td>C&aacute;tedra</td>
				<td><input id="inputBloque" class="form-control" readonly="readonly"
					placeholder="C&aacute;tedra" ng-model="Nombrecatedra"></td>
			</tr>
			<tr>
				<td width="50%">Nombre:</td>
				<td width="50%"><input id="inputBloque" class="form-control"
					placeholder="Nombre" ng-model="nombre"></td>
			</tr>
			<tr>
				<td>Grupo:</td>
				<td><input id="inputBloque" class="form-control"
					placeholder="Grupo" ng-model="grupo"></td>
			</tr>
			<tr>
				<td>Cantidad de Alumnos.:</td>
				<td><input id="inputBloque" class="form-control"
					placeholder="Cantidad de Alumnos" ng-model="cantidad_alumnos"></td>
			</tr>
			<tr align="right">
				<td colspan="2"><button type="button"
						class="btn btn btn-success" ng-click="guardarSeccion(idSeccion, nombre, grupo, cantidad_alumnos, idCatedra, Nombrecatedra);closeThisDialog();"><i class="fa fa-floppy-o" aria-hidden="true"></i> Guardar</button>
					<button type="button" class="btn btn btn-danger"
						ng-click="closeThisDialog();"><i class="fa fa-times" aria-hidden="true"></i> Cancelar</button></td>
			</tr>
		</tbody>
	</table>
</div>