<div  class="ngdialog-message" >
<table style="padding: 2px" class="separar" width="100%">
		<tbody>
			<tr>
				<th colspan="2"><h3 align="center">{{title_modal}}</h3></th>
			</tr>
			<tr>
				<td width="50%"><input id="inputNombre" class="form-control" placeholder="Nombre" ng-model="b_nombre"><br></td>
				<td width="50%"><input id="inputCedula" class="form-control" placeholder="C&eacute;dula" ng-model="b_cedula"><br></td>
			</tr>
			<tr>				
				<td colspan="2"><button style="width: 100%" type="button" class="btn btn-sm btn-info" ng-disabled="esperando"
							ng-click="buscar(b_nombre, b_cedula)"><i class="fa fa-search" aria-hidden="true"></i> Filtrar</button></td>
			</tr>
			<tr>
				<table colspan="2" class="tableScroll table">
		            <thead>
		              <tr>
		                <th width="60%">Nombre</th>
		                <th width="30%">C&eacute;dula</th>
		                <th width="10%"></th>
		              </tr>
		            </thead>
		            <tbody>
						<tr ng-repeat="p in profesores">
			                <td>{{p.titulo}} {{p.nombre}} {{p.apellido}}</td>
			                <td>{{p.cedula}}</td>
			                <td><a><i class="fa fa-check" aria-hidden="true" ng-click="selectedProfesor($index);closeThisDialog();"></i></a></td>
						</tr>
						<tr ng-show="esperando || error || vacio">
		            		<td colspan="3">
			            		<div ng-show="esperando" class="animated">
				            		<div class="cssload-container">
										<div class="cssload-loading"><i></i><i></i><i></i><i></i></div>
									</div>
								</div>
			            		<div ng-show="!esperando && error" class="animated">No hay datos que mostrar.</div>
			            		<div ng-show="vacio" class="animated">Su b&uacute;queda no arroj&oacute; resultados.</div>
		            		</td>
		            	</tr>
		            	<tr ng-hide="esperando || error || vacio">
							<td align="left" colspan="1">
								<small><b><i>P&aacute;gina: {{page}}</i></b></small>
								
							</td>
							<td align="right" colspan="2">
								<button style="width: 40%" type="button" class="btn btn-sm btn-default" ng-click="anterior();" ng-disabled="page==1 || esperando"><i class="fa fa-backward" aria-hidden="true"></i></button>
								<button style="width: 40%" type="button" class="btn btn-sm btn-default" ng-click="siguiente();" ng-disabled="ultima ||esperando"><i class="fa fa-forward" aria-hidden="true"></i></button>
							</td>
						</tr>
		            </tbody>
	          </table>
			</tr>
			<tr>
				<td width="50%">
					&nbsp;
				</td>
				<td width="50%">
					<button type="button" class="btn btn btn-danger"
					ng-click="closeThisDialog()"><i class="fa fa-times" aria-hidden="true"></i> Cancelar</button>
				</td>
			</tr>
		</tbody>
		</table>
</div>