<!DOCTYPE html>
<html ng-app="app">

<head>
<title>Planificaci&oacute;n FP_UNA</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<base href="/horario/">
<link rel="stylesheet" href="css\font-awesome.min.css">

<link rel="apple-touch-icon" sizes="57x57"
	href="images/favicon/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60"
	href="images/favicon/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72"
	href="images/favicon/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76"
	href="images/favicon/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114"
	href="images/favicon/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120"
	href="images/favicon/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144"
	href="images/favicon/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152"
	href="images/favicon/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180"
	href="images/favicon/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"
	href="images/favicon/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32"
	href="images/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96"
	href="images/favicon/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16"
	href="images/favicon/favicon-16x16.png">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage"
	content="images/favicon/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">

<!-- BOOTSTRAP-->
<link rel="stylesheet" href="bootstrap/bootstrap.min.css">
<!-- script src="bootstrap/jquery-3.1.1.slim.min.js"></script-->
<!-- BOOTSTRAP END -->



<!-- Toaster -->
<link rel="stylesheet" href="toastr/toastr.min.css" />
<!-- END Toaster -->

<!-- Calendar -->
<link rel="stylesheet" href="calendar/jquery.schedule.min.css" />
<link rel="stylesheet" href="jquery/css/jquery-ui.min.css" />
<!-- END Calendar -->

<!-- NGDIALOG -->
<link rel="stylesheet" href="ng-dialog\css\ngDialog-theme-default.min.css" />
<link rel="stylesheet" href="ng-dialog\css\ngDialog.min.css" />

<!-- NGDIALOG -->


<link rel="stylesheet" type="text/css" href="css\mycss.css">
</head>

<body ng-controller="menuCtrl">

	<toaster-container
			toaster-options="{'time-out': 3000, 'close-button': true, 'limit':3, 'tap-to-dismiss':false}">
	</toaster-container>
	<modal-confirm></modal-confirm>
	<div id="wrap" ng-show="!logueado">
		<div class="container">
			<div class="row">
				<div class="col-3"></div>
				<div class="col-6">
					<br /> <br /> <IMG SRC="images/fpuna.png" width="360px"
						class="img-responsive center-block" /><br /> <br />
					<div class="card">
						<div class="card-header">
							<h4>Iniciar Sesi&oacute;n</h4>
						</div>
						<div class="card-body">
							<blockquote class="card-blockquote">
								<div class="input-group">
										<div class="input-group-prepend">
									<span class="input-group-text" id="basic-addon1"><i class="fa fa-user" aria-hidden="true"></i></span>
									</div>
									<input id="username" class="form-control"
										placeholder="Username" required="" autofocus=""
										ng-model="username">
								</div><br />
								<div class="input-group">
										<div class="input-group-prepend">
									<span class="input-group-text" id="basic-addon1"><i class="fa fa-key" aria-hidden="true"></i></span>
									</div>	
									<input
										type="password" id="inputPassword" class="form-control"
										placeholder="Password" required="" ng-model="password">
								</div><br />
								<button class="btn btn-lg btn-primary btn-block"
									ng-click="login()" type="submit">
									Entrar <i class="fa fa-sign-in" aria-hidden="true"></i>
								</button>
							</blockquote>
						</div>
					</div>
				</div>
			</div>
			<div class="col-3"></div>
		</div>
	</div>
	<div class="container-fluid full-height" ng-show="logueado">
		<div class="row full-height">
			<div class="col-md-2 col-xs-1 p-l-0 p-r-0 in left-panel" id="sidebar">
					<br /> <br />
					<div class="text-center d-none d-xs-none d-sm-none d-md-none d-lg-none d-xl-block">
							<IMG SRC="images/khronopol-menu-logo.png" class="rounded mx-auto d-block image-left-panel"/><br>
							<span class="text-menu">KHRONOPOL</span> 
					</div>
					<div class="text-center d-none d-xs-block d-sm-block d-md-block d-lg-block d-xl-none">
							<IMG SRC="images/khronopol-menu-logo.png" class="rounded mx-auto d-block image-left-panel" width="70%"/><br>
							<span class="text-menu" style="font-size: 1em">KHRONOPOL</span> 
					</div>
					<br /> 	<br /> 
				<div class="list-group panel">
					<a href="#" class="list-group-item collapsed" data-parent="#sidebar"><i class="fa fa-home"></i> <span class="d-none d-xs-none d-sm-none d-md-none d-lg-block d-xl-block">Home</span></a>
					<a href="#/horarios/" class="list-group-item collapsed" data-parent="#sidebar" ng-show="permisos['GESTION DE HORARIO']"><i class="fa fa-calendar"></i> <span class="d-none d-xs-none d-sm-none d-md-none d-lg-block d-xl-block">Horarios</span></a>
					<a href="#/usuarios/nombre/--any--/pag/--any--/column/--any--/order/--any--" class="list-group-item collapsed" data-parent="#sidebar" ng-show="permisos['GESTION DE USUARIOS']"><i class="fa fa-users"></i> <span class="d-none d-xs-none d-sm-none d-md-none d-lg-block d-xl-block">Usuarios</span></a>
					<a data-target="#menu1" class="list-group-item collapsed" ng-show="permisos['GESTION ACADEMICA']" data-toggle="collapse" data-parent="#sidebar" aria-expanded="false"><i class="fa fa-cog"></i> <span class="d-none d-xs-none d-sm-none d-md-none d-lg-block d-xl-block">Gesti&oacute;n Acad&eacute;mica</span> </a>
					<div class="collapse" id="menu1">
						<a href="{{m.url}}" class="list-group-item" data-parent="#menu1" ng-repeat="m in menu">{{m.text}}</a>
					</div>
					<a data-target="#menu2" class="list-group-item collapsed" ng-show="permisos['AUTOGESTION'] && idProfesor!=null" data-toggle="collapse" data-parent="#sidebar" aria-expanded="false"><i class="fa fa-briefcase"></i> <span class="d-none d-xs-none d-sm-none d-md-none d-lg-block d-xl-block">Autogesti&oacute;n</span> </a>
					<div class="collapse" id="menu2">
						<a href="#/profesor/{{idProfesor}}" class="list-group-item" data-parent="#menu2">Datos Personales</a>
						<a href="#/profesor/{{idProfesor}}/slot/-1" class="list-group-item" data-parent="#menu2">Disponibilidad</a>
					</div>
					<a href="#/configuracion/" class="list-group-item collapsed" data-parent="#sidebar" ng-show="permisos['CONFIGURACION']"><i class="fa fa-sliders"></i> <span class="d-none d-xs-none d-sm-none d-md-none d-lg-block d-xl-block">Configuración</span></a>
					<a href="#/micuenta/" class="list-group-item collapsed" data-parent="#sidebar"><i class="fa fa-user-circle"></i> <span class="d-none d-xs-none d-sm-none d-md-none d-lg-block d-xl-block">Mi Cuenta</span></a>
					<a class="list-group-item collapsed" data-parent="#sidebar" ng-click="logout()"><i class="fa fa-sign-out"></i> <span class="d-none d-xs-none d-sm-none d-md-none d-lg-block d-xl-block">Logout</span></a>
				</div>
			</div>
			<div class="col-10">
					<br>
				<div class="clearfix">	
					<div class="float-left" width="100%">
						<ul id="breadcrumb">
							<li ng-class="r.clase" ng-repeat="r in rutas"><a ng-click="irA(r)">{{r.text}}</a></li>
						</ul>
					</div>
				</div>
				<hr style="margin-top: 0px;">
				<div ng-view="">
				</div><br><br>
			</div>
			<footer class="col-12 footer" ng-hide="showLogin && !logueado">
					<div class="container-fluid">
						<span class="text-muted">Desarrollado por <a href="https://www.linkedin.com/in/rodri-fernandez-10516752/">Renato
								Fern&aacute;ndez Mar&iacute;n </a> y <a
							href="http://www.linkedin.com/pub/marcelo-franco/25/23a/78b">Marcelo
								Franco</a></span>
					</div>
				</footer>
		</div>
	</div>


<!-- Scripts -->

<script src="jquery/js/jquery-1.12.4.min.js"></script>
<script src="bootstrap/tether.min.js"></script>
<script src="bootstrap/popper.js"></script>
<script src="bootstrap/bootstrap.min.js"></script>
<script src="charts/charts.js"></script>

<script type='text/javascript' src="calendar\jquery.schedule.min.js"></script>
<script type='text/javascript' src="jquery\js\jquery-ui.min.js"></script>	

<!-- ANGULAR LIBRERIA-->
<script type='text/javascript' src="angular/angular.min.js"></script>
<script type='text/javascript' src="angular\angular-route.min.js"></script>
<script type='text/javascript' src="angular\angular-ngStorage.js"></script>
<!-- ANGULAR LIBRERIA END -->

<script src="toastr/toastr.min.js"></script>
<script src="toastr/toaster.js"></script>

<script src="ng-dialog\js\ngDialog.min.js"></script>

<!-- ANGULAR SCRIPTS -->
<script type='text/javascript' src="js\apps.js"></script>
<!-- ANGULAR INTERCEPTORS -->
<script type='text/javascript' src="js\directives\autenticationInterceptor.js"></script>
<script type='text/javascript' src="angular\angular-sanitize.min.js"></script>
<!-- SERVICES ANGULAR FP_APP -->
<script type='text/javascript' src="js\services\loginService.js"></script>
<script type='text/javascript' src="js\services\aulaService.js"></script>
<script type='text/javascript' src="js\services\carreraService.js"></script>
<script type='text/javascript' src="js\services\asignaturaService.js"></script>
<script type='text/javascript' src="js\services\departamentoService.js"></script>
<script type='text/javascript' src="js\services\profesorService.js"></script>
<script type='text/javascript' src="js\services\perfilService.js"></script>
<script type='text/javascript' src="js\services\horarioService.js"></script>
<script type='text/javascript' src="js\services\borradorService.js"></script>
<script type='text/javascript' src="js\services\usuarioService.js"></script>
<script type='text/javascript' src="js\services\miCuentaService.js"></script>
<script type='text/javascript' src="js\services\utilService.js"></script>
<script type='text/javascript' src="js\services\configuracionService.js"></script>
<script type='text/javascript' src="js\services\reporteService.js"></script>
<!-- SERVICES ANGULAR FP_APP END-->
<!-- CONTROLERS ANGULAR FP_APP -->
<script type='text/javascript' src="js\controlers.js"></script>
<script type='text/javascript' src="js\controlers\menuCtrl.js"></script>
<script type='text/javascript' src="js\controlers\aulaCtrl.js"></script>
<script type='text/javascript' src="js\controlers\carreraCtrl.js"></script>
<script type='text/javascript' src="js\controlers\asignaturaCtrl.js"></script>
<script type='text/javascript' src="js\controlers\departamentoCtrl.js"></script>
<script type='text/javascript' src="js\controlers\profesorCtrl.js"></script>
<script type='text/javascript' src="js\controlers\usuarioCtrl.js"></script>
<script type='text/javascript' src="js\controlers\horarios\verAulasCtrl.js"></script>
<script type='text/javascript' src="js\controlers\horarios\recalculoCtrl.js"></script>
<script type='text/javascript' src="js\controlers\horarios\examenesCtrl.js"></script>
<script type='text/javascript' src="js\controlers\carrerasConflictoCtrl.js"></script>
<script type='text/javascript' src="js\controlers\configuracionCtrl.js"></script>
<script type='text/javascript' src="js\controlers\reportesCtrl.js"></script>
<script type='text/javascript' src="js\controlers\horarios\cantidadAlumnosCtrl.js"></script>
<script type='text/javascript'
	src="js\controlers\asignaturaNuevoCtrl.js"></script>
<script type='text/javascript' src="js\controlers\horarioCtrl.js"></script>
<script type='text/javascript'
	src="js\controlers\horarios\verHorariosCtrl.js"></script>
<script type='text/javascript'
	src="js\controlers\horarios\editHorariosCtrl.js"></script>
<script type='text/javascript' src="js\controlers\miCuentaCtrl.js"></script>
<script type='text/javascript' src="js\controlers\asignaturaPorCarreraSemestreCtrl.js"></script>
<script type='text/javascript' src="js\directives\slotTimeDirective.js"></script>
<!-- CONTROLERS ANGULAR FP_APP END-->
<!-- ANGULAR SCRIPTS END-->



</body>
</html>
