/* footer */
html,
body {
  height: 100%;
  font-family: "Roboto", sans-serif;
  background-color: #f1f1f1;
  /* The html and body elements cannot have any padding or margin. */
}
.card {
-webkit-box-shadow: 4px 4px 5px 0px rgba(110,110,110,0.85);
-moz-box-shadow: 4px 4px 5px 0px rgba(110,110,110,0.85);
box-shadow: 4px 4px 5px 0px rgba(110,110,110,0.85);
}
.table td, .table th {
	vertical-align: middle;
	
}

.publicado {
	background-color: #8edc350f;
}

.btn-circle {
    width: 40px;
    height: 40px;
    padding: 6px 0px;
    border-radius: 20px;
    text-align: center;
    font-size: 16px;
    line-height: 1.42857;
}

.centerCell {
  text-align: center;
  vertical-align: middle !important;
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
footer.footer {
  height: 60px;
  background-color: #212121 !important;
      padding-top: 20px !important;
    padding-bottom: 15px !important;
}

span.text-muted {
	color: #b5b5b5 !important;
}

a.footer-link {
	color: #4f87c3 !important;
}
.icon-menu-margen {
    margin-top: 0.5em ;	
}

.breadcrumb {
    background-color: transparent;
}

/* Scroll para modal */
.ngdialog-content {
	overflow-y: scroll;
	max-height: 450px;
}

/* Iconos de accion en 16px*/
table tbody td a span{
    font-size:16px !important;
    
}

.tableSlot td, th{
	padding: 6px !important
}

/* Puntero del mouse */
a {cursor: hand} 

/*Jumbo cambiar color*/
.jumbotron {
    background-color: #ffffff !important; 
}

/* LOADER */
.loaderBig {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}
.loader {
    border: 6px solid #f3f3f3; /* Light grey */
    border-top: 6px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 2s linear infinite;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.cssload-container{
	display: block;
	margin:50px auto;
	width:100px;
}

.cssload-loading i{
	width: 20px;
	height: 20px;
	display: inline-block;
	border-radius: 50%;
	background: #3498db;
}
.cssload-loading i:first-child{
	opacity: 0;
	animation:cssload-loading-ani2 0.5s linear infinite;
		-o-animation:cssload-loading-ani2 0.5s linear infinite;
		-ms-animation:cssload-loading-ani2 0.5s linear infinite;
		-webkit-animation:cssload-loading-ani2 0.5s linear infinite;
		-moz-animation:cssload-loading-ani2 0.5s linear infinite;
	transform:translate(-20px);
		-o-transform:translate(-20px);
		-ms-transform:translate(-20px);
		-webkit-transform:translate(-20px);
		-moz-transform:translate(-20px);
}
.cssload-loading i:nth-child(2),
.cssload-loading i:nth-child(3){
	animation:cssload-loading-ani3 0.5s linear infinite;
		-o-animation:cssload-loading-ani3 0.5s linear infinite;
		-ms-animation:cssload-loading-ani3 0.5s linear infinite;
		-webkit-animation:cssload-loading-ani3 0.5s linear infinite;
		-moz-animation:cssload-loading-ani3 0.5s linear infinite;
}
.cssload-loading i:last-child{
	animation:cssload-loading-ani1 0.5s linear infinite;
		-o-animation:cssload-loading-ani1 0.5s linear infinite;
		-ms-animation:cssload-loading-ani1 0.5s linear infinite;
		-webkit-animation:cssload-loading-ani1 0.5s linear infinite;
		-moz-animation:cssload-loading-ani1 0.5s linear infinite;
}




@keyframes cssload-loading-ani1{
	100%{
		transform:translate(40px);
		opacity: 0;
	}
}

@-o-keyframes cssload-loading-ani1{
	100%{
		-o-transform:translate(40px);
		opacity: 0;
	}
}

@-ms-keyframes cssload-loading-ani1{
	100%{
		-ms-transform:translate(40px);
		opacity: 0;
	}
}

@-webkit-keyframes cssload-loading-ani1{
	100%{
		-webkit-transform:translate(40px);
		opacity: 0;
	}
}

@-moz-keyframes cssload-loading-ani1{
	100%{
		-moz-transform:translate(40px);
		opacity: 0;
	}
}

@keyframes cssload-loading-ani2{
	100%{
		transform:translate(20px);
		opacity: 1;
	}
}

@-o-keyframes cssload-loading-ani2{
	100%{
		-o-transform:translate(20px);
		opacity: 1;
	}
}

@-ms-keyframes cssload-loading-ani2{
	100%{
		-ms-transform:translate(20px);
		opacity: 1;
	}
}

@-webkit-keyframes cssload-loading-ani2{
	100%{
		-webkit-transform:translate(20px);
		opacity: 1;
	}
}

@-moz-keyframes cssload-loading-ani2{
	100%{
		-moz-transform:translate(20px);
		opacity: 1;
	}
}

@keyframes cssload-loading-ani3{
	100%{
		transform:translate(20px);
	}
}

@-o-keyframes cssload-loading-ani3{
	100%{
		-o-transform:translate(20px);
	}
}

@-ms-keyframes cssload-loading-ani3{
	100%{
		-ms-transform:translate(20px);
	}
}

@-webkit-keyframes cssload-loading-ani3{
	100%{
		-webkit-transform:translate(20px);
	}
}

@-moz-keyframes cssload-loading-ani3{
	100%{
		-moz-transform:translate(20px);
	}
}





/*******************************/
/*            PANEL            */
/*******************************/
.text-menu {
	font-family: "Roboto", sans-serif;
	font-size: 1.5em;
	color: #f1f1f1;
}
.left-panel {
	background-color: #141414;
  padding-right: 0px;
	padding-left: 0px;
	height: auto;
	min-height: 95%;	
}
.full-height {
	height: 100%;
	overflow-y: scroll;
	max-height: 100%;
}

.image-left-panel {
	max-width: 150px
}

#sidebar .list-group-item {
	background-color:#141414;
    border-radius: 0;
    color: #ccc;
    border-left: 0;
    border-right: 0;
    border-color: #333;
	white-space: nowrap;
	text-align: center;
}
.list-group-item:hover {
	background-color:rgba(52, 152, 219, 0.6) !important;
}
/*2c2c2c*/
/* highlight active menu */
#sidebar .list-group-item:not(.collapsed) {
    background-color: #222;
}

/* closed state */
#sidebar .list-group .list-group-item[aria-expanded="false"]::after {
  content: "";
  font-family: FontAwesome;
  display: inline;
  text-align: right;
}

/* open state */
#sidebar .list-group .list-group-item[aria-expanded="true"] {
  background-color: rgb(5, 5, 5);
}
#sidebar .list-group .list-group-item[aria-expanded="true"]::after {
  content: "";
  font-family: FontAwesome;
  display: inline;
  text-align: right;
}

/* level 1*/
#sidebar .list-group .collapse .list-group-item  {
  padding-left: 20px;
}

/* level 2*/
#sidebar .list-group .collapse > .collapse .list-group-item {
  padding-left: 30px;
}

/* level 3*/
#sidebar .list-group .collapse > .collapse > .collapse .list-group-item {
  padding-left: 40px;
}

@media (max-width:48em) {
    /* overlay sub levels on small screens */
    #sidebar .list-group .collapse.in, #sidebar .list-group .collapsing {
        position: absolute;
        z-index: 1;
        width: 190px;
    }
    #sidebar .list-group > .list-group-item {
        text-align: center;
        padding: .75rem .5rem;
    }
    /* hide caret icons of top level when collapsed */
    #sidebar .list-group > .list-group-item[aria-expanded="true"]::after,
    #sidebar .list-group > .list-group-item[aria-expanded="false"]::after {
        display:none;
    }
}

/* change transition animation to width when entire sidebar is toggled */
#sidebar.collapse {
  -webkit-transition-timing-function: ease;
       -o-transition-timing-function: ease;
          transition-timing-function: ease;
  -webkit-transition-duration: 0.5s;
       -o-transition-duration: 0.5;
          transition-duration: 0.5s;
}

#sidebar.collapsing {
  width: 0;
  -webkit-transition-timing-function: ease-in;
       -o-transition-timing-function: ease-in;
          transition-timing-function: ease-in;
  -webkit-transition-property: width,height;
       -o-transition-property: width,height;
          transition-property: width,height;

}




/*************************************/
/*            Breadcrumbs            */
/*************************************/  
  #breadcrumb {
	list-style: none;
	display: inline-block;
  }
  #breadcrumb .icon {
	font-size: 14px;
  }
  #breadcrumb li {
	float: left;
  }
  #breadcrumb li a {
	color: #FFF;
	display: block;
	background: #3498db;
	text-decoration: none;
	position: relative;
	height: 40px;
	line-height: 40px;
	padding: 0 10px 0 5px;
	text-align: center;
	margin-right: 23px;
  }
  #breadcrumb li:nth-child(even) a {
	background-color: #3498db;
  }
  #breadcrumb li:nth-child(even) a:before {
	border-color: #3498db;
	border-left-color: transparent;
  }
  #breadcrumb li:nth-child(even) a:after {
	border-left-color: #3498db;
  }
  #breadcrumb li:first-child a {
	padding-left: 15px;
	-moz-border-radius: 4px 0 0 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px 0 0 4px;
  }
  #breadcrumb li:first-child a:before {
	border: none;
  }
  #breadcrumb li:last-child a {
	padding-right: 15px;
	-moz-border-radius: 0 4px 4px 0;
	-webkit-border-radius: 0;
	border-radius: 0 4px 4px 0;
  }
  #breadcrumb li:last-child a:after {
	border: none;
  }
  #breadcrumb li a:before, #breadcrumb li a:after {
	content: "";
	position: absolute;
	top: 0;
	border: 0 solid #3498db;
	border-width: 20px 10px;
	width: 0;
	height: 0;
  }
  #breadcrumb li a:before {
	left: -20px;
	border-left-color: transparent;
  }
  #breadcrumb li a:after {
	left: 100%;
	border-color: transparent;
	border-left-color: #3498db;
  }
  #breadcrumb li a:hover {
	background-color: #1abc9c;
  }
  #breadcrumb li a:hover:before {
	border-color: #1abc9c;
	border-left-color: transparent;
  }
  #breadcrumb li a:hover:after {
	border-left-color: #1abc9c;
  }
  #breadcrumb li a:active {
	background-color: #16a085;
  }
  #breadcrumb li a:active:before {
	border-color: #16a085;
	border-left-color: transparent;
  }
  #breadcrumb li a:active:after {
	border-left-color: #16a085;
  }
  
  
