<div class="row">
	<div class="col">
		<h1 align="center">	Horario de Ex&aacute;menes </h1>
	</div>
</div>	
<div class="row">
	<div class="col-3">	
			<div class="input-group">
					<div class="input-group-prepend">
			  <span class="input-group-text" id="basic-addon1"><i class="fa fa-filter" aria-hidden="true"></i></span></div>
			  <input type="text" class="form-control" placeholder="Departamento" aria-describedby="basic-addon1" ng-model="search_aux.d">
			</div>
	</div>
	<div class="col-3">
			<div class="input-group">
					<div class="input-group-prepend">
			  <span class="input-group-text" id="basic-addon1"><i class="fa fa-filter" aria-hidden="true"></i></span></div>
			  <input type="text" class="form-control" placeholder="Asignatura" aria-describedby="basic-addon1" ng-model="search_aux.a">
			</div>
	</div>
	<div class="col-3">	
			<div class="input-group">
					<div class="input-group-prepend">
			  <span class="input-group-text" id="basic-addon1"><i class="fa fa-filter" aria-hidden="true"></i></span></div>
			  <input type="text" class="form-control" placeholder="Carrera" aria-describedby="basic-addon1" ng-model="search_aux.c">
			</div>
	</div>
	<div class="col-3">
		<div class="row">
			<div class="col-12">
				<button type="button" class="btn btn-circle btn-primary" ng-click="filtrar();" ng-disabled="esperando"><i class="fa fa-search" aria-hidden="true"></i></button>
				<button type="button" class="btn btn-circle btn-success" ng-click="updateCantidadAlumnos();" ng-disabled="esperando"><i class="fa fa-floppy-o" aria-hidden="true"></i></button>
				<button type="button" class="btn btn-circle btn-danger" ng-click="cancelar();" ng-disabled="esperando"><i class="fa fa-times" aria-hidden="true"></i></button>
				<button type="button" class="btn btn-circle btn-warning" data-target="#inscriptosModal" data-toggle="modal" ng-disabled="esperando"><i class="fa fa-upload" aria-hidden="true"></i></button>
			</div>
		</div>
	</div>
</div><br>
<div class="card">
	<div class="card-body">
		<h5 class="modal-title">Asignaturas</h5>
		<div class="row">
			<div class="col-12">
				<div class="table-responsive">
						<table class="table table-striped table-hover">
				            <thead class="thead">
				              <tr>
				              	<th width="5%">&nbsp;</th>
				             	<th width="10%">Dpto</th>
				                <th width="35%">Asignatura</th>
				                <th width="35%">Carreras</th>
								<th width="15%">Inscriptos</th>
				              </tr>
				            </thead>
				            <tbody>
								<tr ng-repeat="e in examenes | filter:search | slice:(currentPage*pageSize):(currentPage*pageSize+pageSize)" >
					                <td><i class="fa fa-asterisk" aria-hidden="true" ng-show="e.ca_aux!=e.ca"></i></td>
					                <td>{{e.d}}</td>
					                <td>{{e.a}} ({{e.se}}{{e.s}})</td>
					                <td ng-bind-html="e.c"></td>
									<td>
										<input type="number" class="form-control" name="input" ng-model="e.ca_aux" placeholder="cantidad" />
									</td>
								</tr>
				            </tbody>
				          </table>
				</div>
		
			</div>
		</div>
	</div>
	<div class="card-footer">
		<div class="row">
			<div class="col-6" align="left">
				<button type="button" class="btn btn-sm btn-default" ng-click="anterior();" ng-disabled="currentPage==0 || esperando"><i class="fa fa-backward" aria-hidden="true"></i></button>
					<button type="button" class="btn btn-sm btn-default" ng-click="siguiente();" ng-disabled="( redondeoMax((examenes | filter:search).length/pageSize)<=currentPage+1 ) ||esperando"><i class="fa fa-forward" aria-hidden="true"></i></button>
					| <small><b><i>P&aacute;gina: {{currentPage+1}}</i></b></small>
			</div>
		    <div class="col-6" align="right"> <small><b><i>Resultados por p&aacute;gina</i></b></small>
	         	<button type="button" class="btn btn-sm btn-default" ng-click="setPageSize(5);" >5</button>
	         	<button type="button" class="btn btn-sm btn-default" ng-click="setPageSize(10);" >10</button>
	         	<button type="button" class="btn btn-sm btn-default" ng-click="setPageSize(20);" >20</button>
	         	<button type="button" class="btn btn-sm btn-default" ng-click="setPageSize(30);" >30</button>
	         	<button type="button" class="btn btn-sm btn-default" ng-click="setPageSize(40);" >40</button>
			</div>
		</div>
	</div>
</div>

<!-------------------------         UPLOAD FILE CANT_ALUMNOS POPUP        ------------------------------>

<div id="inscriptosModal" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
    	<div class="modal-header">
	        <h5 class="modal-title">Cargar cantidad de Inscriptos</h5>
      	</div>
      	<div class="modal-body">
	        <table style="padding: 2px" class="separar" width="100%">
				<tbody>
					<tr>
						<td colspan="2">
							<input type="file" file-model="inscriptosFile"/>
						</td>
					</tr>
				</tbody>
			</table>
        </div>
		<div class="modal-footer">
			<button type="button" class="btn btn btn-success" data-dismiss="modal"
				ng-click="confirmUpload()">
				<i class="fa fa-floppy-o" aria-hidden="true"></i> Confirmar</button>
			<button type="button" class="btn btn btn-danger" data-dismiss="modal">
				<i class="fa fa-times" aria-hidden="true"></i> Cancelar</button>
		</div>
    </div>
  </div>
</div>
