<h1 align="center">
	Borrador
</h1><br>
<div class="row">
	<div class="col-4">	
		<div class="input-group">
				<div class="input-group-prepend">
			<span class="input-group-text" id="basic-addon1"><i class="fa fa-filter" aria-hidden="true"></i></span>
			</div>
		  <input id="inputBloque" class="form-control" placeholder="Asignatura" ng-model="asignatura">
		</div>
	</div>
	<div class="col-4">	
		<div class="input-group">
				<div class="input-group-prepend">
			<span class="input-group-text" id="basic-addon1"><i class="fa fa-filter" aria-hidden="true"></i></span>
			</div>
		  <input id="inputSigla" class="form-control" placeholder="Dpto" ng-model="dpto">
		</div>
	</div>
	<div class="col-4 text-right">	
		<button type="button" class="btn btn-circle btn-info" ng-click="buscar();" ng-disabled="esperando"><i class="fa fa-search" aria-hidden="true"></i></button>
	</div>
</div>
<br>
<div class="row">
<div class="col">
	<div class="card">
		<div class="card-body">
		<h5 class="card-tittle">Asignaturas Seleccionadas</h5>
		<div class="table-responsive">
		<br/>
          <table class="table table-hover">
            <thead class="thead">
              <tr>
                <th>Si/No</th>
                <th>DEF</th>
                <th>Dpto</th>
                <th>Asignatura</th>
                <th>Periodo</th>
                <th>Seccion</th>
                <th>Turno</th>
                <th>Cod. ACAD</th>
              </tr>
            </thead>
            <tbody>
					<tr ng-repeat="b in borrador">
	                <td>
	                	<div ng-show="b.selected" >
	                		<a ng-click="guardar($index, b.id,!b.selected,b.def);"><i class="fa fa-check-square-o" aria-hidden="true"></i></a>
	                	</div>
		             	<div ng-show="!b.selected">
		             		<a ng-click="guardar($index, b.id,!b.selected,b.def);"><i class="fa fa-square-o" aria-hidden="true"></i></a>
		             	</div>
				    </td>
				    <td>
	                	<div ng-show="b.def" >
	                		<a ng-click="guardar($index, b.id,b.selected,!b.def);"><i class="fa fa-check-square-o" aria-hidden="true"></i></a>
	                	</div>
		             	<div ng-show="!b.def">
		             		<a ng-click="guardar($index, b.id,b.selected,!b.def);"><i class="fa fa-square-o" aria-hidden="true"></i></a>
		             	</div>
				    </td>
	                <td>{{b.dpto}}</td>
	                <td>{{b.asignatura}}</td>
	                <td>{{b.periodo}}</td>
	                <td>{{b.seccion}}</td>
	                <td>{{b.turno}}</td>
	                <td>{{b.codAsig}}</td>
					</tr>
				<tr ng-show="esperando || error || vacio">
            		<td colspan="7">
	            		<div ng-show="esperando" class="animated">
							<div class="cssload-container">
								<div class="cssload-loading"><i></i><i></i><i></i><i></i></div>
							</div>
						</div>
	            		<div ng-show="!esperando && error" class="animated">No hay datos que mostrar.</div>
	            		<div ng-show="vacio" class="animated">Su b&uacute;queda no arroj&oacute; resultados.</div>
            		</td>
            	</tr>
            </tbody>
          </table></div>
		</div>
		<div class="card-footer">
		    <table class="table borderless" style="margin-bottom: 0px !important;" >
		    	<tr ng-hide="esperando || error || vacio">
					<td align="left" style="border-top:none !important; padding:0px !important">
						<small><b><i>P&aacute;gina: {{page}}</i></b></small>
						
					</td>
					<td align="right" style="border-top:none !important; padding:0px !important">
						<button type="button" class="btn btn-sm btn-default" ng-click="anterior();" ng-disabled="page==1 || esperando"><i class="fa fa-backward" aria-hidden="true"></i></button>
						<button type="button" class="btn btn-sm btn-default" ng-click="siguiente();" ng-disabled="ultima ||esperando"><i class="fa fa-forward" aria-hidden="true"></i></button>
					</td>
				</tr>
		    </table>
		</div>
	</div>
</div>
</div>