<div class="row">
	<div class="col">
		<h1 align="center">	Horario de Ex&aacute;menes </h1>
	</div>
</div>	
<div class="row">
	<div class="col-3">
			Asignatura:
			<div class="input-group">
					<div class="input-group-prepend">
			  <span class="input-group-text" id="basic-addon1"><i class="fa fa-filter" aria-hidden="true"></i></span></div>
			  <input type="text" class="form-control" placeholder="Asignatura" aria-describedby="basic-addon1" ng-model="search_aux.a">
			</div>
	</div>
	<div class="col-3">	
			Departamento:
			<div class="input-group">
					<div class="input-group-prepend">
			  <span class="input-group-text" id="basic-addon1"><i class="fa fa-filter" aria-hidden="true"></i></span></div>
			  <input type="text" class="form-control" placeholder="Departamento" aria-describedby="basic-addon1" ng-model="search_aux.d">
			</div>
	</div>
	<div class="col-3">	
			Carrera:
			<div class="input-group">
					<div class="input-group-prepend">
			  <span class="input-group-text" id="basic-addon1"><i class="fa fa-filter" aria-hidden="true"></i></span></div>
			  <input type="text" class="form-control" placeholder="Carrera" aria-describedby="basic-addon1" ng-model="search_aux.c">
			</div>
	</div>
	<div class="col-3">
		<div class="row">
			<div class="col-12">
				<button style="width: 100%;margin-top: 30px;margin-bottom: 29px;" type="button" class="btn btn-sm btn-primary" ng-click="filtrar();" ng-disabled="esperando"><i class="fa fa-search" aria-hidden="true"></i> Filtrar </button>
			</div>
		</div>
	</div>
</div>
<div class="card">
	<div class="card-body">
		<h5 class="modal-title">Asignaturas</h5>
		<div class="row">
			<div class="col-12">
				<div class="table-responsive">
						<table class="table table-striped table-hover">
				            <thead class="thead">
				              <tr>
				             	<th width="5%">Dpto</th>
				                <th width="27%">Asignatura</th>
				                <th width="27%">Carreras</th>
								<th width="20%"ng-show="!verExa">Parcial 1</th>
								<th width="20%"ng-show="!verExa">Parcial 2</th>
								<th width="20%" ng-show="verExa">Final 1</th>
								<th width="20%" ng-show="verExa">Final 2</th>
								<th width="5%">&nbsp;</th>
				              </tr>
				            </thead>
				            <tbody>
								<tr ng-repeat="e in examenes | filter:search | slice:(currentPage*pageSize):(currentPage*pageSize+pageSize)" >
					                <td>{{e.d}}</td>
					                <td>{{e.a}} ({{e.se}}{{e.s}})</td>
					                <td ng-bind-html="e.c"></td>
									<td ng-show="!verExa">
										<span ng-show="!e.edit && e.p1!=null">{{e.p1 | date: "yyyy-MM-ddTHH:mm"}}</span>
										<input ng-show="e.edit" type="datetime-local" id="exampleInput" name="input" ng-model="e.p1" placeholder="yyyy-MM-ddTHH:mm:ss" min="2017-01-01T00:00:00" max="2040-12-31T00:00:00" />
									</td>
									<td ng-show="!verExa">
										<span ng-show="!e.edit && e.p2!=null">{{e.p2 | date: "yyyy-MM-ddTHH:mm"}}</span>
										<input ng-show="e.edit" type="datetime-local" id="exampleInput" name="input" ng-model="e.p2" placeholder="yyyy-MM-ddTHH:mm:ss" min="2017-01-01T00:00:00" max="2040-12-31T00:00:00" />
									</td>
									<td ng-show="verExa">
										<span ng-show="!e.edit && e.f1!=null">{{e.f1 | date: "yyyy-MM-ddTHH:mm"}}</span>
										<input ng-show="e.edit" type="datetime-local" id="exampleInput" name="input" ng-model="e.f1" placeholder="yyyy-MM-ddTHH:mm:ss" min="2017-01-01T00:00:00" max="2040-12-31T00:00:00" />
									</td>
									<td ng-show="verExa">
										<span ng-show="!e.edit && e.f2!=null">{{e.f2 | date: "yyyy-MM-ddTHH:mm"}}</span>
										<input ng-show="e.edit" type="datetime-local" id="exampleInput" name="input" ng-model="e.f2" placeholder="yyyy-MM-ddTHH:mm:ss" min="2017-01-01T00:00:00" max="2040-12-31T00:00:00" />
									</td>	
									<td align="right">
										<button  ng-show="!e.edit" type="button" class="btn btn-outline-primary btn-sm"
											ng-click="edit(e)" data-toggle="modal" 
											data-target="#aulaModal" data-placement="bottom" title="Editar">
											<i class="fa fa-pencil-square-o" aria-hidden="true" bootstrap-tooltip></i>
										</button>
										<button  ng-show="!e.edit" type="button" class="btn btn-outline-primary btn-sm"
											ng-click="erase(e)" data-toggle="modal" 
											data-target="#aulaModal" data-placement="bottom" title="Borrar">
											<i class="fa fa-eraser" aria-hidden="true" bootstrap-tooltip></i>
										</button>
										<button  ng-show="e.edit" type="button" class="btn btn-outline-primary btn-sm"
											ng-click="save(e)" data-toggle="modal" 
											data-target="#aulaModal" data-placement="bottom" title="Guardar">
											<i class="fa fa-save" aria-hidden="true" bootstrap-tooltip></i>
										</button>
										<button  ng-show="e.edit" type="button" class="btn btn-outline-primary btn-sm"
											ng-click="cancel(e)" data-toggle="modal" 
											data-target="#aulaModal" data-placement="bottom" title="Cancelar">
											<i class="fa fa-times" aria-hidden="true" bootstrap-tooltip></i>
										</button>
									</td>
								</tr>
				            </tbody>
				          </table>
				</div>
		
			</div>
		</div>
	</div>
	<div class="card-footer">
		<div class="row">
			<div class="col-6" align="left">
				<button type="button" class="btn btn-sm btn-default" ng-click="cambiarVistaExa();"><i class="fa fa-exchange" aria-hidden="true" title="Cambiar Vista" data-toggle="tooltip" bootstrap-tooltip></i></button> 
				<button type="button" class="btn btn-sm btn-default" ng-click="anterior();" ng-disabled="currentPage==0 || esperando"><i class="fa fa-backward" aria-hidden="true"></i></button>
					<button type="button" class="btn btn-sm btn-default" ng-click="siguiente();" ng-disabled="( redondeoMax((examenes | filter:search).length/pageSize)<=currentPage+1 ) ||esperando"><i class="fa fa-forward" aria-hidden="true"></i></button>
					| <small><b><i>P&aacute;gina: {{currentPage+1}}</i></b></small>
			</div>
		    <div class="col-6" align="right"> <small><b><i>Resultados por p&aacute;gina</i></b></small>
	         	<button type="button" class="btn btn-sm btn-default" ng-click="setPageSize(5);" >5</button>
	         	<button type="button" class="btn btn-sm btn-default" ng-click="setPageSize(10);" >10</button>
	         	<button type="button" class="btn btn-sm btn-default" ng-click="setPageSize(20);" >20</button>
	         	<button type="button" class="btn btn-sm btn-default" ng-click="setPageSize(30);" >30</button>
	         	<button type="button" class="btn btn-sm btn-default" ng-click="setPageSize(40);" >40</button>
			</div>
		</div>
	</div>
</div>

