<div class="row">
<div class="col">

<h1 align="center">
	Administraci&oacute;n de Horarios
</h1><br>
</div>
</div>
<div class="row">
	<div class="col-4">
		<div class="input-group">
			<div class="input-group-prepend">
				<span class="input-group-text" id="basic-addon1"><i class="fa fa-filter" aria-hidden="true"></i></span>
			</div>
			<input type="number" class="form-control" placeholder="A&ntilde;o" aria-describedby="basic-addon1" ng-model="search_aux.a" ng-change="filtrar()">
		</div>				
	</div>
	<div class="col-8 text-right">
		<button type="button" class="btn btn-success btn-circle" ng-disabled="esperando"  ng-click="nuevoHorario()" data-toggle="modal" 
							data-target="#horarioAdmModal"><i class="fa fa-plus" aria-hidden="true"></i></button>
							
		<button type="button" class="btn btn-info btn-circle" ng-disabled="esperando"  ng-click="verPapelera()" title="Ver Papelera" data-toggle="tooltip" data-placement="bottom" bootstrap-tooltip><i class="fa fa-trash" aria-hidden="true"></i></button><br><br>
		
	</div>
</div>
<div class="row" ng-show="!generando">
	<div class="col">
		<div class="card">
			<div class="card-body">
			<h5 class="card-title">Horarios</h5>
			<div class="table-responsive">
				<table class="table table-hover table-sm">
		            <thead class="thead">
		              <tr>
		              	<th>ID</th>
		                <th>A&ntilde;o</th>
		                <th>Periodo</th>
		                <th>Fecha</th>
		                <th>Estado</th>
		                <th>&nbsp;</th>
		              </tr>
		            </thead>
		            <tbody>
							<tr ng-repeat="h in horarios" ng-class="h.publicado?'publicado':''">
								<td >{{h.idHorario}}</td>
								<td>{{h.anho}}</td>
				                <td>{{h.periodo}}</td>
				                <td>{{fecha(h.fecha)}}</td>
				                <td>{{estados[h.estado]}}</td>
								<td>
									<button ng-show="iconos(h.estado,'ver')" type="button" class="btn btn-outline-primary btn-sm" ng-click="ver($index)" title="Ver" data-toggle="tooltip" data-placement="bottom" bootstrap-tooltip>
										<i class="fa fa-eye" aria-hidden="true"></i>
									</button>
									
									<button ng-show="iconos(h.estado,'examenes')" type="button" class="btn btn-outline-primary btn-sm" ng-click="examenes($index)" title="Examenes" data-toggle="tooltip" data-placement="bottom" bootstrap-tooltip>
										<i class="fa fa-file-text-o" aria-hidden="true"></i>
									</button>
									
									<div class="progress" ng-show="iconos(h.estado,'refresh')">
									  	<div class="progress-bar bg-success" role="progressbar" style="width: {{h.progreso}}%" aria-valuenow="{{h.progreso}}" aria-valuemin="0" aria-valuemax="100"></div>
									</div>
																
									<button ng-show="iconos(h.estado,'cargarAlumnos')" type="button" class="btn btn-outline-primary btn-sm" ng-click="cantidadAlumnos($index)" title="Cargar Alumnos" data-toggle="tooltip" data-placement="bottom" bootstrap-tooltip>
										<i class="fa fa-address-book" aria-hidden="true"></i>
									</button>
									
									<button ng-show="iconos(h.estado,'configurar')" type="button" class="btn btn-outline-primary btn-sm" ng-click="configurar($index)" title="Configurar" data-toggle="tooltip" data-placement="bottom" bootstrap-tooltip>
										<i class="fa fa-cog" aria-hidden="true"></i>
									</button>
									
									<button ng-show="iconos(h.estado,'calcular')" type="button" class="btn btn-outline-primary btn-sm" ng-click="calcular($index, 'CH')" title="Calcular Horario" data-toggle="tooltip" data-placement="bottom" bootstrap-tooltip>
										<i class="fa fa-cubes" aria-hidden="true"></i>
									</button>
									<button ng-show="iconos(h.estado,'recalcular')" type="button" class="btn btn-outline-primary btn-sm" ng-click="recalcular($index)" title="Recalcular" data-toggle="tooltip" data-placement="bottom" bootstrap-tooltip>
										<i class="fa fa-recycle" aria-hidden="true"></i>
									</button>
									
									<button ng-show="iconos(h.estado,'calcularAulas')" type="button" class="btn btn-outline-primary btn-sm" data-target="#confirmModal" ng-click="calcAulas($index)" title="Asignar Aulas" data-toggle="modal" data-placement="bottom" bootstrap-tooltip>
										<i class="fa fa-building" aria-hidden="true"></i>
									</button>
																								
									<button ng-show="iconos(h.estado,'publicar')" type="button" class="btn btn-outline-primary btn-sm" title="Publicar" data-toggle="tooltip" ng-click="publicar($index)"  data-placement="bottom" bootstrap-tooltip>
										<i class="fa fa-bullhorn" aria-hidden="true"></i>
									</button>
																
									<button ng-show="iconos(h.estado,'restaurar')" type="button" class="btn btn-outline-primary btn-sm" data-target="#confirmRestaurar" ng-click="setIdHorarioRestaurar($index)" title="Restaurar" data-toggle="modal" data-placement="bottom" bootstrap-tooltip>
										<i class="fa fa-history" aria-hidden="true"></i>
									</button>
									
									<button ng-show="iconos(h.estado,'verAulas')" type="button" class="btn btn-outline-primary btn-sm" ng-click="verAulas($index)" title="Ver aulas" data-toggle="tooltip" data-placement="bottom" bootstrap-tooltip>
										<i class="fa fa-tasks" aria-hidden="true"></i>
									</button>
									
									<button ng-show="iconos(h.estado,'eliminar')" type="button" class="btn btn-outline-primary btn-sm" data-target="#confirmEliminar" ng-click="setIdHorarioEliminar($index);" title="Eliminar" data-toggle="modal" data-placement="bottom" bootstrap-tooltip>
										<i class="fa fa-times" aria-hidden="true"></i>
									</button>
									
									<button ng-show="iconos(h.estado,'descartar')" type="button" class="btn btn-outline-primary btn-sm" data-target="#confirmDescartar" ng-click="setIdHorarioDescartar($index)" title="Descartar" data-toggle="modal" data-placement="bottom" bootstrap-tooltip>
										<i class="fa fa-trash" aria-hidden="true"></i>
									</button>
									
								</td>
							</tr>
						<tr ng-show="esperando || error">
		            		<td colspan="6">
			            		<div ng-show="esperando" class="animated">
									<div class="cssload-container">
										<div class="cssload-loading"><i></i><i></i><i></i><i></i></div>
									</div>
								</div>
			            		<div ng-show="!esperando && error" class="animated">No hay datos que mostrar.</div>
		            		</td>
		            	</tr>
		            </tbody>
		          </table>			
			</div>
		
			</div>
		</div>
	</div>
</div>
<div class="row justify-content-center" ng-show="generando">
	<div class="col-3">
	   <div style="text-align: center" class="loaderBig"></div>
	</div>
</div>
<br>
<div class="card card-outline-danger" ng-show="errorSinAsignar">
				<div class="card-header">
					<h4>Corregir disponibilidad horaria de las siguientes asignaturas</h4>
				</div>
				<div class="card-body"><blockquote class="card-blockquote">
					<div class="row">
						<table class="table table-hover table-sm">
					           <thead class="thead-dark">
					             <tr>
					             	<th>Asignatura</th>
					               <th>Turno</th>
					               <th>Seccion</th>
					               <th>Cod ACAD</th>
					             </tr>
					           </thead>
					           <tbody>
								<tr ng-repeat="a in asignaturasSinAsignar" >
									<td>{{a.asignatura}}</td>
									<td>{{a.turno}}</td>
									<td>{{a.seccion}}</td>
									<td>{{a.codAsig}}</td>
								</tr>
					           </tbody>
					      </table>			
					</div>
				</blockquote></div>
</div>



<!-------------------------         AGREGAR POPUP        -------------------------------->



<div  id="horarioAdmModal" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" novalidate>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
    	<div class="modal-header">
	        <h5 class="modal-title">{{title_modal}}</h5>
      	</div>
      	<div class="modal-body">
	        <table style="padding: 2px" class="separar" width="100%">
				<tbody>
					<tr>
						<td width="50%">A&ntilde;o:</td>
						<td width="50%"><input id="inputBloque" class="form-control"
							placeholder="A&ntilde;o" type="number" ng-model="borrador.anho">
							<div class="invalid-feedback">
							    Campo Requerido 
							</div>
						</td>
					</tr>
					<tr>
						<td>Periodo:</td>
						<td><input id="inputBloque" class="form-control"
							placeholder="Periodo" type="number" ng-model="borrador.periodo">
							<div class="invalid-feedback">
							    Campo Requerido 
							</div>
						</td>
					</tr>
				</tbody>
			</table>
        </div>
		<div class="modal-footer">
			<button type="button" class="btn btn btn-success"
				ng-click="generarBorrador()">
				<i class="fa fa-floppy-o" aria-hidden="true"></i> Guardar</button>
			<button type="button" class="btn btn btn-danger" data-dismiss="modal">
				<i class="fa fa-times" aria-hidden="true"></i> Cancelar</button>
		</div>
    </div>
  </div>
</div>

<!-------------------------         CONFIRM POPUP        ------------------------------>

<div id="confirmModal" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
    	<div class="modal-header">
	        <h5 class="modal-title">Estas seguro que desea asignar las aulas</h5>
      	</div>
      	<div class="modal-body">
	        <table style="padding: 2px" class="separar" width="100%">
				<tbody>
					<tr>
						<td colspan="2">
							<p>Este proceso no es reversible</p>
						</td>
					</tr>
				</tbody>
			</table>
        </div>
		<div class="modal-footer">
			<button type="button" class="btn btn btn-success" data-dismiss="modal"
				ng-click="calcular(idHorarioAula, 'CA')">
				<i class="fa fa-floppy-o" aria-hidden="true"></i> Confirmar</button>
			<button type="button" class="btn btn btn-danger" data-dismiss="modal">
				<i class="fa fa-times" aria-hidden="true"></i> Cancelar</button>
		</div>
    </div>
  </div>
</div>


<!-------------------------         CONFIRM POPUP        ------------------------------>

<div id="confirmDescartar" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
    	<div class="modal-header">
	        <h5 class="modal-title">Estas seguro que llevar a la papelera este horario</h5>
      	</div>
      	<div class="modal-body">
	        <table style="padding: 2px" class="separar" width="100%">
				<tbody>
					<tr>
						<td colspan="2">
							<p>Este proceso puede revertirse</p>
						</td>
					</tr>
				</tbody>
			</table>
        </div>
		<div class="modal-footer">
			<button type="button" class="btn btn btn-success" data-dismiss="modal"
				ng-click="descartar(idHorarioDescartar)">
				<i class="fa fa-floppy-o" aria-hidden="true"></i> Confirmar</button>
			<button type="button" class="btn btn btn-danger" data-dismiss="modal">
				<i class="fa fa-times" aria-hidden="true"></i> Cancelar</button>
		</div>
    </div>
  </div>
</div>

<!-------------------------         CONFIRM POPUP        ------------------------------>

<div id="confirmRestaurar" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
    	<div class="modal-header">
	        <h5 class="modal-title">Estas seguro que desea restaurar el horario</h5>
      	</div>
      	<div class="modal-body">
	        <table style="padding: 2px" class="separar" width="100%">
				<tbody>
					<tr>
						<td colspan="2">
							<p>El horario pasará a estado {{restaurarEstado}}</p>
						</td>
					</tr>
				</tbody>
			</table>
        </div>
		<div class="modal-footer">
			<button type="button" class="btn btn btn-success" data-dismiss="modal"
				ng-click="restaurar(idHorarioRestaurar)">
				<i class="fa fa-floppy-o" aria-hidden="true"></i> Confirmar</button>
			<button type="button" class="btn btn btn-danger" data-dismiss="modal">
				<i class="fa fa-times" aria-hidden="true"></i> Cancelar</button>
		</div>
    </div>
  </div>
</div>

<!-------------------------         CONFIRM POPUP        ------------------------------>

<div id="confirmEliminar" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
    	<div class="modal-header">
	        <h5 class="modal-title">Estas seguro que desea eliminar el horario</h5>
      	</div>
      	<div class="modal-body">
	        <table style="padding: 2px" class="separar" width="100%">
				<tbody>
					<tr>
						<td colspan="2">
							<p>Este proceso no es reversible</p>
						</td>
					</tr>
				</tbody>
			</table>
        </div>
		<div class="modal-footer">
			<button type="button" class="btn btn btn-success" data-dismiss="modal"
				ng-click="eliminar(idHorarioEliminar)">
				<i class="fa fa-floppy-o" aria-hidden="true"></i> Confirmar</button>
			<button type="button" class="btn btn btn-danger" data-dismiss="modal">
				<i class="fa fa-times" aria-hidden="true"></i> Cancelar</button>
		</div>
    </div>
  </div>
</div>
