<h1 align="center">
	Recalcular Horario
</h1><br>
<div id="cardInformacion" class="card" novalidate>
		<div class="card-header">
			<h4>Asignaturas</h4>
		</div>
<div class="card-body"><blockquote class="card-blockquote">
<div class="row"  ng-hide="divisiones_hide">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<div class="table-responsive">
	       	<table style="border-collapse: collapse; width: 100%" class="table table-hover table-sm">
			<tbody>
				<tr class="thead-dark">
					<th>Nombre</th>
					<th>Dpto</th>
					<th>Codigo</th>
					<th>Seccion</th>
					<th>Turno</th>
					<th>Periodo</th>
					<th></th>
					<th></th>
			    <tr ng-repeat='ar in asignaturasRecalcular'>
				    <td>{{ar.asignatura}}</td>
			       <td>{{ar.dpto}}</td>
			       <td>{{ar.codAsig}}</td>
			       <td>{{ar.seccion}}</td>
			       <td>{{ar.turno}}</td>
			       <td>{{ar.periodo}}</td>
			       <td></td>
			       <td><button type="button" class="btn btn-sm btn-danger" ng-click="eliminarAsig($index);" ><i class="fa fa-trash" aria-hidden="true"> </i></button></td>
			    </tr>
			    <tr>
			    	<td></td>
			       	<td></td>
			       	<td></td>
			       	<td></td>
			       	<td></td>
			       	<td></td>
			       	<td></td>
			       	<td><button type="button" class="btn btn-sm btn-success" data-toggle="modal" data-target="#materiasModal" ><i class="fa fa-plus" aria-hidden="true"></i></button></td>
			    </tr>
			</tbody>
			</table>
		</div>
		<button type="button" class="btn btn-sm" data-toggle="modal" data-target="#confirmModal" ><i class="fa fa-cubes" aria-hidden="true"> </i></button>
	</div>
</div>


<!-------------------------- MODAL  ---------------------------->


<div  id="materiasModal" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
    	<div class="modal-header">
	        <h5 class="modal-title">Agregar Asignatura</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
      	</div>
      	<div class="modal-body">
	        <form>
		        <table style="padding: 2px" class="separar" width="100%">
					<tbody>
						<tr>
							<td width="40%"><input id="inputNombrePrincipal" class="form-control" placeholder="Nombre" ng-model="b_nombre"><br></td>
							<td width="25%"><input id="inputNombre" class="form-control" placeholder="Dpto" ng-model="b_dpto"><br></td>
							<td width="25%"><input id="inputCarrera" class="form-control" placeholder="Codigo" ng-model="b_codigo"><br></td>
							<td width="5%"><input id="inputProfesor" class="form-control" placeholder="Periodo" ng-model="b_periodo"><br></td>
							<td width="5%"></td>
							
						</tr>
						<tr>				
							<td colspan="4"><button style="width: 100%" type="button" class="btn btn-sm btn-info" ng-disabled="esperando"
										ng-click="buscar(b_nombre, b_dpto, b_codigo, b_periodo)"><i class="fa fa-search" aria-hidden="true"></i> Filtrar</button></td>
						</tr>
						<tr>
							<table colspan="4" class="tableScroll table">
					            <thead>
					              <tr>
					              		<th>Nombre</th>
										<th>Dpto</th>
										<th>Codigo</th>
										<th>Seccion</th>
										<th>Turno</th>
										<th>Periodo</th>
										<th></th>
					              </tr>
					            </thead>
					            <tbody>
									<tr ng-repeat="a in asignaturas">
										<td>{{a.asignatura}}</td>
								      	<td>{{a.dpto}}</td>
								       	<td>{{a.codAsig}}</td>
								       	<td>{{a.seccion}}</td>
								       	<td>{{a.turno}}</td>
								       	<td>{{a.periodo}}</td>
						                <td><a><i class="fa fa-check" aria-hidden="true" ng-click="selectedAsignatura($index);"  data-dismiss="modal"></i></a></td>
									</tr>
									<tr ng-show="esperando || error || vacio">
					            		<td colspan="3">
						            		<div ng-show="esperando" class="animated">
							            		<div class="cssload-container">
													<div class="cssload-loading"><i></i><i></i><i></i><i></i></div>
												</div>
											</div>
						            		<div ng-show="!esperando && error" class="animated">No hay datos que mostrar.</div>
						            		<div ng-show="vacio" class="animated">Su b&uacute;queda no arroj&oacute; resultados.</div>
					            		</td>
					            	</tr>
					            	<tr ng-hide="esperando || error || vacio">
										<td align="left" colspan="1">
											<small><b><i>P&aacute;gina: {{page}}</i></b></small>
											
										</td>
										<td align="right" colspan="4">
											<button style="width: 40%" type="button" class="btn btn-sm btn-default" ng-click="anterior();" ng-disabled="page==1 || esperando"><i class="fa fa-backward" aria-hidden="true"></i></button>
											<button style="width: 40%" type="button" class="btn btn-sm btn-default" ng-click="siguiente();" ng-disabled="ultima || esperando"><i class="fa fa-forward" aria-hidden="true"></i></button>
										</td>
									</tr>
					            </tbody>
				          </table>
						</tr>
						<tr>
							<td width="50%">
								&nbsp;
							</td>
							<td width="50%">
								
							</td>
						</tr>
					</tbody>
					</table>
	        </form>
        </div>
		<div class="modal-footer">
			<button type="button" class="btn btn btn-danger" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i> Cancelar</button>
		</div>
    </div>
  </div>
</div>


<!-------------------------         CONFIRM POPUP        ------------------------------>

<div id="confirmModal" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
    	<div class="modal-header">
	        <h5 class="modal-title">Estas seguro que desea ejecutar el recalculo</h5>
      	</div>
      	<div class="modal-body">
	        <table style="padding: 2px" class="separar" width="100%">
				<tbody>
					<tr>
						<td colspan="2">
							<p>Este cambio no puede deshacerse</p>
						</td>
					</tr>
				</tbody>
			</table>
        </div>
		<div class="modal-footer">
			<button type="button" class="btn btn btn-success" data-dismiss="modal"
				ng-click="calcular('CH')">
				<i class="fa fa-floppy-o" aria-hidden="true"></i> Confirmar</button>
			<button type="button" class="btn btn btn-danger" data-dismiss="modal">
				<i class="fa fa-times" aria-hidden="true"></i> Cancelar</button>
		</div>
    </div>
  </div>
</div></blockquote></div></div>