<h1 align="center">
	Utilizaci&oacute;n de aulas
</h1><br>
<div class="row">
	<div class="col-2">
		<button style="width: 100%" type="button" class="btn btn-sm btn-info" ng-disabled="esperando || dia==0"  ng-click="verDia(0)">Lunes</button>
	</div>
	<div class="col-2">
		<button style="width: 100%" type="button" class="btn btn-sm btn-info" ng-disabled="esperando || dia==1"  ng-click="verDia(1)">Martes</button>
	</div>
	<div class="col-2">
		<button style="width: 100%" type="button" class="btn btn-sm btn-info" ng-disabled="esperando || dia==2"  ng-click="verDia(2)">Mi&eacute;rcoles</button>
	</div>
	<div class="col-2">
		<button style="width: 100%" type="button" class="btn btn-sm btn-info" ng-disabled="esperando || dia==3"  ng-click="verDia(3)">Jueves</button>
	</div>
	<div class="col-2">
		<button style="width: 100%" type="button" class="btn btn-sm btn-info" ng-disabled="esperando || dia==4"  ng-click="verDia(4)">Viernes</button>
	</div>
	<div class="col-2">
		<button style="width: 100%" type="button" class="btn btn-sm btn-info" ng-disabled="esperando || dia==5"  ng-click="verDia(5)">S&aacute;bado</button>
	</div>
</div><br>
<div class="row">
	<div class="col-12">
		<div id="example2.1" style="height: 400px;"></div>
	</div>
</div>	