<div class="row">
	<div class="col">
		<h1 align="center">	Gestionar Horario </h1>
	</div>
</div>

<div class="row">
	<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">	
			Carrera:
			<div class="input-group">
					<div class="input-group-prepend">
				<span class="input-group-text" id="basic-addon1"><i class="fa fa-filter" aria-hidden="true"></i></span></div>
				<select class="form-control" ng-model="search_aux.c">
					 <option ng-repeat="c in carreras" value="{{c}}">{{c}}</option>
				</select>
			</div><br>					
	</div>
	<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
			Asignatura:
			<div class="input-group">
					<div class="input-group-prepend">
			  <span class="input-group-text" id="basic-addon1"><i class="fa fa-filter" aria-hidden="true"></i></span></div>
			  <input type="text" class="form-control" placeholder="Asignatura" aria-describedby="basic-addon1" ng-model="search_aux.a">
			</div><br>
	</div>
	<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">	
			Profesor:
			<div class="input-group">
					<div class="input-group-prepend">
			  <span class="input-group-text" id="basic-addon1"><i class="fa fa-filter" aria-hidden="true"></i></span></div>
			  <input type="text" class="form-control" placeholder="Profesor" aria-describedby="basic-addon1" ng-model="search_aux.p">
			</div><br>
	</div>
	<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">	
			Semestre:
			<div class="input-group">
					<div class="input-group-prepend">
			  <span class="input-group-text" id="basic-addon1"><i class="fa fa-filter" aria-hidden="true"></i></span></div>
			  <input type="text" class="form-control" placeholder="Semestre" aria-describedby="basic-addon1" ng-model="search_aux.se">
			</div><br>
	</div>
</div>
<div class="row">
	<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">	
			<button style="width: 100%" type="button" class="btn btn-sm btn-info" ng-click="filtrar();" ng-disabled="esperando"><i class="fa fa-search" aria-hidden="true"></i> Filtrar</button>
	</div>
	<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
			<button style="width: 100%" type="button" class="btn btn-sm btn-primary" ng-disabled="esperando" ng-click="mostrarSeleccionados()"><i class="fa fa-eye" aria-hidden="true"></i> Mostrar Marcados</button>
	</div>
	<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">	
			<button style="width: 100%" type="button" class="btn btn-sm btn-success" ng-click="toReportes();" ng-disabled="esperando"><i class="fa fa-file-pdf-o" aria-hidden="true"></i> Reportes</button>
	</div>
	<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">	
			<button style="width: 100%" type="button" class="btn btn-sm btn-warning" ng-click="mostrarConflictos();" ng-disabled="esperando"><i class="fa fa-fire" aria-hidden="true"></i> Ver Conflictos</button>
	</div>
</div>
<br>
<div class="row">
	<div class="col">
	<div class="card">
		<div class="card-body">
			<h5 class="card-tittle">Horario</h5>
			<div class="table-responsive">
				<table class="table table-striped table-hover table-bordered table-responsive table-sm">
		            <thead class="thead">
		              <tr>
		             	<th><i class="fa fa-eye" aria-hidden="true"></i></th>
		                <th>Asignatura</th>
		                <th>Carrera</th>
		                <th>Enf</th>
		                <th>Sem</th>
						<th ng-show="!verExa">Profesor</th>
						<th ng-show="!verExa">Dia</th>
						<th ng-show="!verExa">Aula</th>
						<th ng-show="!verExa">Horario</th>
						<th ng-show="verExa">Parcial 1</th>
						<th ng-show="verExa">Parcial 2</th>
						<th ng-show="verExa">Final 1</th>
						<th ng-show="verExa">Final 2</th>
		              </tr>
		            </thead>
		            <tbody>
						<tr ng-repeat="h in horario | filter:search | orderBy:'a' | slice:(currentPage*pageSize):(currentPage*pageSize+pageSize)" >
			                <td>
			                	<div ng-show="h.selected" >
			                		<a ng-click="h.selected=false"><i class="fa fa-check-square-o" aria-hidden="true"></i></a>
			                	</div>
				             	<div ng-show="!h.selected">
				             		<a ng-click="h.selected=true"><i class="fa fa-square-o" aria-hidden="true"></i></a>
				             	</div>
			      			</td>
			                <td>{{h.a}} ({{h.s}})</td>
			                <td>{{h.c}}</td>
			                <td>{{h.e}}</td>
			                <td>{{h.se}}</td>
			                <td ng-show="!verExa"><pre>{{h.p}}</pre></td>
			                <td ng-show="!verExa">
								 <div ng-repeat="slot in h.slots">
								 	&nbsp;{{slot.dia}}&nbsp;
								 </div>
							</td>
							<td ng-show="!verExa">
								 <div ng-repeat="slot in h.slots">
								 	&nbsp;{{slot.aula}}&nbsp;
								 </div>
							</td>
							<td ng-show="!verExa">
								 <div ng-repeat="slot in h.slots">
								 	&nbsp;{{slot.hora}}&nbsp;
								 </div>
							</td>
							<td ng-show="verExa">{{h.p1}}</td>
							<td ng-show="verExa">{{h.p2}}</td>
							<td ng-show="verExa">{{h.f1}}</td>
							<td ng-show="verExa">{{h.f2}}</td>
						</tr>
		            </tbody>
		          </table>
			</div>
		</div>
		
		<div class="card-footer">
			<div class="row" >
				<div class="col-6" align="left">
				<button type="button" class="btn btn-sm btn-default" ng-click="refresh();"><i class="fa fa-refresh" aria-hidden="true" title="Actualizar" data-toggle="tooltip" bootstrap-tooltip></i></button>
				<button type="button" class="btn btn-sm btn-default" ng-click="cambiarVistaExa();"><i class="fa fa-exchange" aria-hidden="true" title="Cambiar Vista" data-toggle="tooltip" bootstrap-tooltip></i></button>
				<button type="button" class="btn btn-sm btn-default" ng-click="downloadExcel();" ng-disabled="esperando"><i class="fa fa-file-excel-o" aria-hidden="true" title="Descargar en Excel" data-toggle="tooltip" bootstrap-tooltip></i></button>
				<button type="button" class="btn btn-sm btn-default" ng-click="anterior();" ng-disabled="currentPage==0 || esperando"><i class="fa fa-backward" aria-hidden="true"></i></button>
					<button type="button" class="btn btn-sm btn-default" ng-click="siguiente();" ng-disabled="( redondeoMax((horario | filter:search).length/pageSize)<=currentPage+1 ) ||esperando"><i class="fa fa-forward" aria-hidden="true"></i></button>
					| <small><b><i>P&aacute;gina: {{currentPage+1}}</i></b></small>
				</div>
		          <div class="col-6" align="right"> <small><b><i>Resultados por p&aacute;gina</i></b></small>
		          	<button type="button" class="btn btn-sm btn-default" ng-click="setPageSize(5);" >5</button>
		          	<button type="button" class="btn btn-sm btn-default" ng-click="setPageSize(10);" >10</button>
		          	<button type="button" class="btn btn-sm btn-default" ng-click="setPageSize(20);" >20</button>
		          	<button type="button" class="btn btn-sm btn-default" ng-click="setPageSize(30);" >30</button>
		          	<button type="button" class="btn btn-sm btn-default" ng-click="setPageSize(40);" >40</button>
				   </div>
			</div>			
		</div>
	</div>	
	</div>
</div><br>	
<div class="row" ng-show="conflictos">	
	<div class="col">	
		<div class="card card-outline-warning">
			<div class="card-body">
				<h5 class="card-tittle">Conflictos</h5>
				<table class="table table-striped table-hover table-bordered table-responsive table-sm">
		            <thead class="thead" >
		              <tr>
		              	<th class="centerCell" colspan="2" style="">Asignatura 1</th>
		              	<th class="centerCell" colspan="2">Asignatura 2</th>
		              	<th class="centerCell" rowspan="2">Tiempo</th>
		              </tr>
		              <tr>
		                <th>Nombre</th>
		                <th>Conv</th>
						<th>Nombre</th>
		                <th>Conv</th>
		              </tr>
		            </thead>
		            <tbody>
						<tr ng-repeat="c in conflictosResultado" >
			                <td>{{c.asignatura1}} ({{c.turno1}}{{c.seccion1}})</td>
			                <td>{{c.periodo1}}</td>
			                <td>{{c.asignatura2}} ({{c.turno2}}{{c.seccion2}})</td>
			                <td>{{c.periodo2}}</td>
			                <td>{{c.min}} hs.</td>
						</tr>
		            </tbody>
		          </table>
			</div>
		</div>
	</div>
</div>


<div class="row">
	<div class="col">
		<table id="tableForExcel" ng-hide="true">
			<thead>
				<tr>
					<th>Dpto</th>
					<th>Asignatura</th>
					<th>Secci&oacute;n</th>
					<th>Carrera</th>
					<th>&Eacute;nfasis</th>
					<th>Nivel</th>
					<th>Semestre</th>
					<th>Profesor</th>
					<th>Parcial 1</th>
					<th>Parcial 2</th>
					<th>Final 1</th>
					<th>Final 2</th>
					<th>Aula</th>
					<th>Lunes</th>
					<th>Aula</th>
					<th>Martes</th>
					<th>Aula</th>
					<th>Mi&eacute;rcoles</th>
					<th>Aula</th>
					<th>Jueves</th>
					<th>Aula</th>
					<th>Viernes</th>
					<th>Aula</th>
					<th>S&aacute;bado</th>
					<th>Aula</th>
					<th>Domingo</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="h in horario | orderBy:'a'" >
					<td>{{h.d}}</td>
					<td>{{h.a}}</td>
					<td>{{h.s}}</td>
					<td>{{h.c}}</td>
					<td>{{h.e}}</td>
					<td>{{h.n}}</td>
					<td>{{h.se}}</td>
					<td>{{h.pExcel}}</td>
					<td>{{h.p1}}</td>
					<td>{{h.p2}}</td>
					<td>{{h.f1}}</td>
					<td>{{h.f2}}</td>
					<td>{{h.excel[0].aula}}</td>
		            <td>{{h.excel[0].hora}}</td>
		            <td>{{h.excel[1].aula}}</td>
		            <td>{{h.excel[1].hora}}</td>
		            <td>{{h.excel[2].aula}}</td>
		            <td>{{h.excel[2].hora}}</td>
		            <td>{{h.excel[3].aula}}</td>
		            <td>{{h.excel[3].hora}}</td>
		            <td>{{h.excel[4].aula}}</td>
		            <td>{{h.excel[4].hora}}</td>
		            <td>{{h.excel[5].aula}}</td>
		            <td>{{h.excel[5].hora}}</td>
		            <td>{{h.excel[6].aula}}</td>
		            <td>{{h.excel[6].hora}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
