<h1 align="center">{{title}}</h1>
<br>
<div id="cardInformacion" class="card" novalidate>
		<div class="card-header">
				<ul class="nav nav-tabs" role="tablist" >
						<li class="nav-item" ng-repeat="s in semestres | orderBy : 'nombre'">
						  <a ng-class="s.clase" role="tab" data-toggle="tab"  ng-click="refreshAsignaturas(s)" >{{s.nombre}}</a>
						</li>
				  </ul>
		</div>
		<div class="card-body"><blockquote class="card-blockquote">
<div class="row">
	<div class="col-12">
		<div class="row" ng-show="showMaterias">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<div class="table-responsive">
				     <table style="border-collapse: collapse; width: 100%" class="table table-hover table-sm">
						<tbody>
							<tr class="thead">
								<th>Asignatura</th>
								<th>Plan</th>
								<th>&Eacute;nfasis</th>
								<th>Profesor</th>
								<th>Nivel</th>
								<th></th>
						    <tr ng-repeat='a in asignaturas'>
						       <td>{{a.nombre}} ({{a.turno}}{{a.seccion}})</td>
						       <td>{{a.plan}}</td>
						       <td>{{a.enfasis}}</td>
						       <td>{{a.nombreProfesor}}</td>
						       <td>{{a.nivel}}</td>
						       <td>
						       		<button type="button" class="btn btn-outline-primary btn-sm"
										ng-click="editarAsignaturaPrincipal(a.idAsignatura)" data-toggle="tooltip"
										data-placement="bottom" title="Editar Asignatura Principal" bootstrap-tooltip>
										<i class="fa fa-pencil-square-o" aria-hidden="true"></i>
									</button>
							   </td>
						    </tr>			    
						</tbody>
					</table>
				</div>
			</div>
		</div> 
	</div>
</div></blockquote></div></div>
