<h1 align="center">{{title}}</h1>
<br>
<div class="card" novalidate>
		<div class="card-header">
				<ul class="nav nav-tabs" role="tablist">
						<li class="nav-item">
							<a class="nav-link active" role="tab" data-toggle="tab" ng-click="mostrar_tab('a')">Asignatura</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" role="tab" data-toggle="tab" ng-click="mostrar_tab('d')">Divisiones</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" role="tab" data-toggle="tab" ng-click="mostrar_tab('r')">Franja Horaria</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" role="tab" data-toggle="tab" ng-click="mostrar_tab('p')">Profesores</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" role="tab" data-toggle="tab" ng-click="mostrar_tab('c')">Carreras</a>
						</li>
					</ul>
		</div>
		<div class="card-body"><blockquote class="card-blockquote">
<div class="row">
<div class="col-12">
<br>
<div class="row" ng-hide="asignatura_hide" >
	<div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
		<label for="inputAsignatura">Asignatura</label>
		<div class="input-group">
				<div class="input-group-prepend"><span class="input-group-text" id="basic-addon1"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></span></div>
		  <input type="text" class="form-control" placeholder="Asignatura" aria-describedby="basic-addon1" ng-model="a.asignatura">
		</div><br>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
		<label for="inputDepartamento">Departamento</label>
		<div class="input-group">
				<div class="input-group-prepend"><span class="input-group-text" id="basic-addon1"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></span></div>
			<select id="inputDepartamento" class="form-control" ng-model="dpto" ng-options="d as d.sigla for d in dptos">
             		</select>
		</div><br>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
		<label for="inputCodigo">C&oacute;digo ACAD</label>
		<div class="input-group">
				<div class="input-group-prepend"><span class="input-group-text" id="basic-addon1"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></span></div>
			<input type="text" class="form-control" placeholder="C&oacute;digo ACAD" aria-describedby="basic-addon1" ng-model="a.codAsig">
		</div><br>					
	</div>
	<div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
		<label for="inputTurno">Turno</label>
		<div class="input-group">
				<div class="input-group-prepend"><span class="input-group-text" id="basic-addon1"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></span></div>
			<input class="form-control" placeholder="Nivel" aria-describedby="basic-addon1" ng-model="a.turno">
		</div><br>					
	</div>
	<div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
		<label for="inputSeccion">Secci&oacute;n</label>
		<div class="input-group">
				<div class="input-group-prepend"><span class="input-group-text" id="basic-addon1"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></span></div>
			<input type="text" class="form-control" placeholder="Secci&oacute;n" aria-describedby="basic-addon1" ng-model="a.seccion">
		</div><br>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">			
		<label for="inputConvocatoria">Convocatoria</label>
		<div class="input-group">
				<div class="input-group-prepend"><span class="input-group-text" id="basic-addon1"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></span></div>
			<input type="number" class="form-control" placeholder="Convocatoria" aria-describedby="basic-addon1" ng-model="a.periodo">
		</div><br>					
	</div>
</div>
<div class="row"  ng-hide="divisiones_hide" >
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<h5>Divisiones</h5>
		<div class="table-responsive">
	       	<table style="border-collapse: collapse; width: 100%" class="table table-hover table-sm">
			<tbody>
				<tr class="thead-dark">
					<th>Tipo de Aula</th>
					<th>Duraci&oacute;n</th>
					<th>Modo</th>
					<th>D&iacute;a</th>
					<th>Hora</th>
					<th>Min</th>
					<th>&nbsp;</th>
			    <tr ng-repeat='d in a.divisiones'>
			       <td>
			       		<select class="form-control form-control-sm" ng-model="d.tipoAula" ng-options="c as c.descripcion for c in tipos">
                		</select>
			       </td>
			       <td><input type="number" class="form-control form-control-sm" placeholder="Duraci&oacute;n" aria-describedby="basic-addon1" ng-model="d.duracion">
			       </td>
			       <td>
			       		<select class="form-control form-control-sm" ng-model="d.modo" ng-options="value for value in modos">
                		</select>
			       </td>
			       		<td>
				       		<select class="form-control form-control-sm" ng-model="d.hora.dia" ng-options="value for value in diasCombo">
	                		</select>
	                	</td>
	                	<td>
	                		<select class="form-control form-control-sm" ng-model="d.hora.hora" ng-options="value for value in horasCombo">
	                		</select>
	                	</td>
	                	<td>
	                		<select class="form-control form-control-sm" ng-model="d.hora.minuto" ng-options="value for value in minutosCombo">
	                		</select>
                		</td>
			       <td>
			       	<button type="button" class="btn btn-sm btn-danger" ng-click="eliminarDiv($index);" ><i class="fa fa-trash" aria-hidden="true"> </i></button>
			       </td>
			    </tr>
			    <tr>
			    	<td>
			       		<select class="form-control form-control-sm" ng-options="c as c.descripcion for c in tipos" ng-disabled="true">
                		</select>
			       </td>
			       <td>
			       	<input type="number" class="form-control form-control-sm" aria-describedby="basic-addon1" ng-disabled="true">
			       </td>
			       <td>
			       		<select class="form-control form-control-sm"  ng-options="value for value in modos" ng-disabled="true">
                		</select>
			       </td>
			       <td>
			       		<select class="form-control form-control-sm" ng-model="a1" ng-options="value for value in diasCombo" ng-disabled="true" >
                		</select>
                	</td>
                	<td>
                		<select class="form-control form-control-sm" ng-model="a2" ng-options="value for value in horasCombo" ng-disabled="true">
                		</select>
                	</td>
                	<td>
                		<select class="form-control form-control-sm" ng-model="a3" ng-options="value for value in minutosCombo" ng-disabled="true">
                		</select>
			       </td>
			       <td> <button type="button" class="btn btn-sm btn-success" ng-click="nuevaDiv()"><i class="fa fa-plus" aria-hidden="true"></i></button> </td>
			    </tr>
			</tbody>
			</table>
		</div>
	</div>
</div>
</div>
</div>
<div class="row"  ng-hide="restricciones_hide" >
	<div class="col-12">
		<h5>Horario Permitido</h5>
       	<div class="table-responsive">
	       	<slot-time data="a" slot="slot"></slot-time>
		</div>
	</div>
</div>
<div class="row" ng-hide="profesores_hide" >
	<div  class="col-12">
		<table class="table table-hover table-sm">
            <thead class="thead-dark">
              <tr>
                <th>C&eacute;dula</th>
                <th>Titulo</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>&nbsp;</th>
              </tr>
            </thead>
            <tbody>
				<tr ng-repeat="p in a.profesores">
	                <td>{{p.cedula}}</td>
	                <td>{{p.titulo}}</td>
	                <td>{{p.nombre}}</td>
	                <td>{{p.apellido}}</td>
	         		<td><button type="button" class="btn btn-sm btn-danger" ng-click="eliminarProf($index);" ><i class="fa fa-trash" aria-hidden="true"> </i></button></td>
				</tr>
				<tr>
	                <td>&nbsp;</td>
	                <td>&nbsp;</td>
	                <td>&nbsp;</td>
	                <td>&nbsp;</td>
	         		<td><button type="button" class="btn btn-sm btn-success" data-toggle="modal" data-target="#profesorModal" ><i class="fa fa-plus" aria-hidden="true"></i></button></td>
				</tr>
            </tbody>
          </table>
	</div>
</div>
<div class="row" ng-hide="carreras_hide" >
	<div  class="col-12">
		<table class="table table-hover table-sm">
            <thead class="thead-dark">
              <tr>
                <th>Carrera</th>
                <th>Asignatura</th>
                <th>Nivel</th>
                <th>Semestre</th>
                <th>&Eacute;nfasis</th>
                <th>Plan</th>
                <th>&nbsp;</th>
              </tr>
            </thead>
            <tbody>
				<tr ng-repeat="c in a.carreras">
	                <td>{{c.sigla}}</td>
	                <td>
	                	<input type="text" class="form-control" placeholder="{{a.asignatura}}" aria-describedby="basic-addon1" ng-model="c.nombre">
	                </td>
	                <td>
	                	<input type="text" class="form-control" placeholder="Nivel" aria-describedby="basic-addon1" ng-model="c.nivel">
	                </td>
	                <td>
	                	<input type="text" class="form-control" placeholder="Semestre" aria-describedby="basic-addon1" ng-model="c.semestre">
	                </td>
	                <td>
	                	<input type="text" class="form-control" placeholder="&Eacute;nfasis" aria-describedby="basic-addon1" ng-model="c.enfasis">
	                </td>
	                <td>
	                	<input type="text" class="form-control" placeholder="Plan" aria-describedby="basic-addon1" ng-model="c.plan">
	                </td>
	                <td>
	         			<button type="button" class="btn btn-sm btn-danger" ng-click="eliminarCarrera($index);" ><i class="fa fa-trash" aria-hidden="true"> </i></button>
	         		</td>	
				</tr>
				<tr>
	                <td>&nbsp;</td>
	                <td>
	                	<input type="text" class="form-control" aria-describedby="basic-addon1" ng-disabled="true">
	                </td>
	                <td>
	                	<input type="text" class="form-control" aria-describedby="basic-addon1" ng-disabled="true">
	                </td>
	                <td>
	                	<input type="text" class="form-control" aria-describedby="basic-addon1" ng-disabled="true">
	                </td>
	                <td>
	                	<input type="text" class="form-control" aria-describedby="basic-addon1" ng-disabled="true">
	                </td>
	                <td>
	                	<input type="text" class="form-control" aria-describedby="basic-addon1" ng-disabled="true">
	                </td>
	                <td>
	         			<button type="button" class="btn btn-sm btn-success" data-toggle="modal" data-target="#carreraModal" ><i class="fa fa-plus" aria-hidden="true"></i></button>
	         		</td>	
				</tr>
            </tbody>
          </table>
	</div>
</div>

<div class="row" >
	<div class="col-xs-6 col-sm-6 col-md-3 col-lg-2">
		<!-- <button style="width: 100%" type="button" class="btn btn-sm btn-success" ng-click="guardar();" ng-disabled="!editar"><i class="fa fa-floppy-o" aria-hidden="true"></i> Guardar</button><br> -->
		<button style="width: 100%" type="button" class="btn btn-sm btn-success" data-toggle="modal" data-target="#confirmModal" ng-click="guardar();" ng-disabled="!editar"><i class="fa fa-floppy-o" aria-hidden="true"></i> Guardar</button><br><br>
	</div>
	<div class="col-xs-6 col-sm-6 col-md-3 col-lg-2">
		<button style="width: 100%" type="button" class="btn btn-sm btn-danger" ng-click="cancelar();" ng-disabled="!editar"><i class="fa fa-trash" aria-hidden="true"></i> Cancelar</button><br>
	</div>
</div></blockquote></div>
</div>













<div  id="profesorModal" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
    	<div class="modal-header">
	        <h5 class="modal-title">Agregar Profesor</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
      	</div>
      	<div class="modal-body">
	        <form>
		        <table style="padding: 2px" class="separar" width="100%">
					<tbody>
						<tr>
							<td width="50%"><input id="inputNombre" class="form-control" placeholder="Nombre" ng-model="b_nombre"><br></td>
							<td width="50%"><input id="inputCedula" class="form-control" placeholder="C&eacute;dula" ng-model="b_cedula"><br></td>
						</tr>
						<tr>				
							<td colspan="2"><button style="width: 100%" type="button" class="btn btn-sm btn-info" ng-disabled="esperando"
										ng-click="buscar(b_nombre, b_cedula)"><i class="fa fa-search" aria-hidden="true"></i> Filtrar</button></td>
						</tr>
						<tr>
							<table colspan="2" class="tableScroll table">
					            <thead>
					              <tr>
					                <th width="60%">Nombre</th>
					                <th width="30%">C&eacute;dula</th>
					                <th width="10%"></th>
					              </tr>
					            </thead>
					            <tbody>
									<tr ng-repeat="p in profesores">
						                <td>{{p.titulo}} {{p.nombre}} {{p.apellido}}</td>
						                <td>{{p.cedula}}</td>
						                <td><a><i class="fa fa-check" aria-hidden="true" ng-click="selectedProfesor($index);"  data-dismiss="modal"></i></a></td>
									</tr>
									<tr ng-show="esperando || error || vacio">
					            		<td colspan="3">
						            		<div ng-show="esperando" class="animated">
							            		<div class="cssload-container">
													<div class="cssload-loading"><i></i><i></i><i></i><i></i></div>
												</div>
											</div>
						            		<div ng-show="!esperando && error" class="animated">No hay datos que mostrar.</div>
						            		<div ng-show="vacio" class="animated">Su b&uacute;queda no arroj&oacute; resultados.</div>
					            		</td>
					            	</tr>
					            	<tr ng-hide="esperando || error || vacio">
										<td align="left" colspan="1">
											<small><b><i>P&aacute;gina: {{page}}</i></b></small>
											
										</td>
										<td align="right" colspan="2">
											<button style="width: 40%" type="button" class="btn btn-sm btn-default" ng-click="anterior();" ng-disabled="page==1 || esperando"><i class="fa fa-backward" aria-hidden="true"></i></button>
											<button style="width: 40%" type="button" class="btn btn-sm btn-default" ng-click="siguiente();" ng-disabled="ultima ||esperando"><i class="fa fa-forward" aria-hidden="true"></i></button>
										</td>
									</tr>
					            </tbody>
				          </table>
						</tr>
						<tr>
							<td width="50%">
								&nbsp;
							</td>
							<td width="50%">
								
							</td>
						</tr>
					</tbody>
					</table>
	        </form>
        </div>
		<div class="modal-footer">
			<button type="button" class="btn btn btn-danger" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i> Cancelar</button>
		</div>
    </div>
  </div>
</div>




<div  id="carreraModal" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
    	<div class="modal-header">
	        <h5 class="modal-title">Agregar Carrera</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
      	</div>
      	<div class="modal-body">
	        <form>
		        <table style="padding: 2px" class="separar" width="100%">
					<tbody>
						<tr>
							<td width="100%"><input id="inputNombre" class="form-control" placeholder="Nombre" ng-model="c_nombre"><br></td>
						</tr>
						<tr>				
							<td><button style="width: 100%" type="button" class="btn btn-sm btn-info" ng-disabled="esperando"
										ng-click="buscarCarrera(c_nombre)"><i class="fa fa-search" aria-hidden="true"></i> Filtrar</button></td>
						</tr>
						<tr><td>
							<table class="tableScroll table">
					            <thead>
					              <tr>
					                <th width="60%">Sigla</th>
					                <th width="30%">Nombre</th>
					                <th width="10%"></th>
					              </tr>
					            </thead>
					            <tbody>
									<tr ng-repeat="ca in carreras">
						                <td>{{ca.sigla}}</td>
						                <td>{{ca.nombre}}</td>
						                <td><a><i class="fa fa-check" aria-hidden="true" ng-click="selectedCarrera($index);"  data-dismiss="modal"></i></a></td>
									</tr>
									<tr ng-show="esperando || error || vacio" colspan="3">
					            		<td>
						            		<div ng-show="esperando" class="animated">
							            		<div class="cssload-container">
													<div class="cssload-loading"><i></i><i></i><i></i><i></i></div>
												</div>
											</div>
						            		<div ng-show="!esperando && error" class="animated">No hay datos que mostrar.</div>
						            		<div ng-show="vacio" class="animated">Su b&uacute;queda no arroj&oacute; resultados.</div>
					            		</td>
					            	</tr>
					            	<tr ng-hide="esperando || error || vacio">
										<td align="left" colspan="1">
											<small><b><i>P&aacute;gina: {{pageCarrera}}</i></b></small>
											
										</td>
										<td align="right" colspan="2">
											<button style="width: 40%" type="button" class="btn btn-sm btn-default" ng-click="anteriorCarrera();" ng-disabled="pageCarrera==1 || esperando"><i class="fa fa-backward" aria-hidden="true"></i></button>
											<button style="width: 40%" type="button" class="btn btn-sm btn-default" ng-click="siguienteCarrera();" ng-disabled="ultimaCarrera ||esperando"><i class="fa fa-forward" aria-hidden="true"></i></button>
										</td>
									</tr>
					            </tbody>
				          </table></td>
						</tr>
						<tr>
							<td width="50%">
								&nbsp;
							</td>
							<td width="50%">
								
							</td>
						</tr>
					</tbody>
					</table>
	        </form>
        </div>
		<div class="modal-footer">
			<button type="button" class="btn btn btn-danger" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i> Cancelar</button>
		</div>
    </div>
  </div>
</div>


<!-------------------------         CONFIRM POPUP        ------------------------------>

<div id="confirmModal" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
    	<div class="modal-header">
	        <h5 class="modal-title">{{title_modal}}</h5>
      	</div>
      	<div class="modal-body">
	        <table style="padding: 2px" class="separar" width="100%">
				<tbody>
					<tr>
						<td colspan="2">
							<p>{{message_modal}}</p>
						</td>
					</tr>
				</tbody>
			</table>
        </div>
		<div class="modal-footer">
			<button type="button" class="btn btn btn-success"
				ng-click="confirmGuardar()">
				<i class="fa fa-floppy-o" aria-hidden="true"></i> Confirmar</button>
			<button type="button" class="btn btn btn-danger" data-dismiss="modal">
				<i class="fa fa-times" aria-hidden="true"></i> Cancelar</button>
		</div>
    </div>
  </div>
</div>
