<h1 align="center">
		Administraci&oacute;n de Asignaturas
	</h1><br>
<div class="row">
<div class="col-md-12">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
			<a ng-click="ordenarDpto();">Departamento</a>
           	<div style="display:inline;" ng-show="orderDpto && orderAsc"><i class="fa fa-sort-amount-asc" aria-hidden="true"></i></div>
           	<div style="display:inline;" ng-show="orderDpto && !orderAsc"><i class="fa fa-sort-amount-desc" aria-hidden="true"></i></div>
			<div class="input-group">
					<div class="input-group-prepend"><span class="input-group-text" id="basic-addon1"><i class="fa fa-filter" aria-hidden="true"></i></span></div>
			  <input type="text" class="form-control" placeholder="Departamento" aria-describedby="basic-addon1" ng-model="busqueda_dpto">
			</div>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
			<a ng-click="ordenarAsignatura();">Asignatura</a>
           	<div style="display:inline;" ng-show="orderAsignatura && orderAsc"><i class="fa fa-sort-amount-asc" aria-hidden="true"></i></div>
           	<div style="display:inline;" ng-show="orderAsignatura && !orderAsc"><i class="fa fa-sort-amount-desc" aria-hidden="true"></i></div>
			<div class="input-group">
					<div class="input-group-prepend"><span class="input-group-text" id="basic-addon1"><i class="fa fa-filter" aria-hidden="true"></i></span></div>
			  <input type="text" class="form-control" placeholder="Asignatura" aria-describedby="basic-addon1" ng-model="busqueda_asignatura">
			</div>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
			<a ng-click="ordenarCodAsig();">Codigo ACAD</a>
           	<div style="display:inline;" ng-show="orderCodAsig && orderAsc"><i class="fa fa-sort-amount-asc" aria-hidden="true"></i></div>
           	<div style="display:inline;" ng-show="orderCodAsig && !orderAsc"><i class="fa fa-sort-amount-desc" aria-hidden="true"></i></div>
			<div class="input-group">
					<div class="input-group-prepend"><span class="input-group-text" id="basic-addon1"><i class="fa fa-filter" aria-hidden="true"></i></span></div>
			  <input class="form-control" placeholder="Codigo ACAD" aria-describedby="basic-addon1" ng-model="busqueda_codAsig">
			</div>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
			<a ng-click="ordenarConvocatoria();">Convocatoria</a>
           	<div style="display:inline;" ng-show="orderConvocatoria && orderAsc"><i class="fa fa-sort-amount-asc" aria-hidden="true"></i></div>
           	<div style="display:inline;" ng-show="orderConvocatoria && !orderAsc"><i class="fa fa-sort-amount-desc" aria-hidden="true"></i></div>
			<div class="input-group">
					<div class="input-group-prepend"><span class="input-group-text" id="basic-addon1"><i class="fa fa-filter" aria-hidden="true"></i></span></div>
			  <input type="text" class="form-control" placeholder="Convocatoria" aria-describedby="basic-addon1" ng-model="busqueda_periodo">
			</div>
		</div>
		
		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
			<a ng-click="ordenarTurno();">Turno</a>
           	<div style="display:inline;" ng-show="orderTurno && orderAsc"><i class="fa fa-sort-amount-asc" aria-hidden="true"></i></div>
           	<div style="display:inline;" ng-show="orderTurno && !orderAsc"><i class="fa fa-sort-amount-desc" aria-hidden="true"></i></div>
			<div class="input-group">
					<div class="input-group-prepend"><span class="input-group-text" id="basic-addon1"><i class="fa fa-filter" aria-hidden="true"></i></span></div>
			  <input class="form-control" placeholder="Turno" aria-describedby="basic-addon1" ng-model="busqueda_turno">
			</div>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
			<a ng-click="ordenarSeccion();">Secci&oacute;n</a>
           	<div style="display:inline;" ng-show="orderSeccion && orderAsc"><i class="fa fa-sort-amount-asc" aria-hidden="true"></i></div>
           	<div style="display:inline;" ng-show="orderSeccion && !orderAsc"><i class="fa fa-sort-amount-desc" aria-hidden="true"></i></div>
			<div class="input-group">
					<div class="input-group-prepend"><span class="input-group-text" id="basic-addon1"><i class="fa fa-filter" aria-hidden="true"></i></span></div>
			  <input type="text" class="form-control" placeholder="Secci&oacute;n" aria-describedby="basic-addon1" ng-model="busqueda_seccion">
			</div>
		</div>
	</div><br>
	<div class="row">
		<div class="col-12 text-right">
			<button type="button" class="btn btn-primary btn-circle" ng-click="buscar()" title="Buscar" bootstrap-tooltip>
				<i class="fa fa-search" aria-hidden="true"></i>
			</button>
			<button type="button" class="btn btn-success btn-circle" ng-disabled="esperando" ng-click="nuevo()" title="Nueva Asignatura" bootstrap-tooltip>
				<i class="fa fa-plus" aria-hidden="true"></i>
			</button>
		</div>
	</div>

</div>
</div><br>



<div id="cardInformacion" class="card" novalidate>
	<div class="card-body">
		<h5 class="card-tittle">Asignaturas</h5>
		<div ng-show="esperando" class="animated">
			<div class="cssload-container">
				<div class="cssload-loading"><i></i><i></i><i></i><i></i></div>
			</div>
		</div>
		<div ng-show="!esperando && error" class="animated">No hay datos que mostrar.</div>
		<div ng-show="vacio" class="animated">Su b&uacute;queda no arroj&oacute; resultados.</div>
		<div class="row">
		<div class="col-12"><div class="table-responsive"></div>
			<table class="table table-sm">
			  <thead>
			    <tr>
			      <th>Asignatura</th>
			      <th>Dpto</th>
			      <th>Cod</th>
			      <th>Conv</th>
			      <th>Turno</th>
			      <th>Secci&oacute;n</th>
			      <th>&nbsp;</th>
			    </tr>
			  </thead>
			  <tbody>
			    <tr ng-class="{'table-info':a.selected, 'table-warning':a.verConflicto, 'table-success':a.verGrupo}" ng-repeat-start="a in asignaturas">
			      <td>{{a.asignatura}}</td>
			      <td>{{a.dpto}}</td>
			      <td>{{a.codAsig}}</td>
			      <td>{{a.periodo}}</td>
			      <td>{{a.turno}}</td>
			      <td>{{a.seccion}}</td>
			      <td align="right">
			      		<button type="button" class="btn btn-outline-primary btn-sm" ng-show="!a.selected"
												ng-click="seleccionar($index)" data-toggle="tooltip"
												data-placement="bottom" title="Ver Carreras" bootstrap-tooltip>
												<i class="fa fa-plus-square-o" aria-hidden="true"></i>
						</button>
						<button type="button" class="btn btn-outline-primary btn-sm" ng-show="a.selected"
												ng-click="seleccionar($index)" data-toggle="tooltip"
												data-placement="bottom" title="Ocultar" bootstrap-tooltip>
												<i class="fa fa-minus-square-o" aria-hidden="true"></i>
						</button>
						<button type="button" class="btn btn-outline-primary btn-sm"
												ng-click="verGrupo($index)" data-toggle="tooltip"
												data-placement="bottom" title="Grupo" bootstrap-tooltip>
												<i class="fa fa-calendar-check-o" aria-hidden="true" ></i>
						</button>
						<button type="button" class="btn btn-outline-primary btn-sm"
												ng-click="verConflictos($index)" data-toggle="tooltip"
												data-placement="bottom" title="Conflictos" bootstrap-tooltip>
												<i class="fa fa-calendar-times-o" aria-hidden="true"></i>
						</button>
						<button type="button" class="btn btn-outline-primary btn-sm"
												ng-click="editar(a.idAsignatura)" data-toggle="tooltip"
												data-placement="bottom" title="Editar" bootstrap-tooltip>
												<i class="fa fa-pencil-square-o" aria-hidden="true"></i>
						</button>
						<button  ng-click="confirmEliminarAsig($index)" type="button" class="btn btn-outline-primary btn-sm"
								data-toggle="tooltip" data-placement="bottom" title="Eliminar" bootstrap-tooltip>
							<i class="fa fa-trash" aria-hidden="true"></i>
						</button> 
							  
				  </td>
			    </tr>
			    <tr ng-class="{'table-info':a.selected, 'table-warning':a.verConflicto, 'table-success':a.verGrupo}" ng-show="a.verGrupo && !a.buscandoRelacion">
			    	<td colspan="7">
			    		<table class="table table-hover table-sm">
						  <thead>
						    <tr>
						    	<th colspan="5">
						    	<button  ng-click="ultimoSeleccionado($index, true)" type="button" class="btn btn-sm btn-success"><i class="fa fa-plus" aria-hidden="true"></i></button> 
						    	Grupos</th>
						    </tr>
						    <tr>
						      <th>Dpto</th>
						      <th>Nombre</th>
						      <th>Turno</th>
						      <th>Seccion</th>
						      <th> </th>
						    </tr>
						  </thead>
						  <tbody>
						  <tr ng-repeat="c in a.grupos">
							  <td>{{c.dpto}}</td>
							  <td>{{c.asignatura}}</td>
							  <td>{{c.turno}}</td>
							  <td>{{c.seccion}}</td>
							  <td>
							  	<button  ng-click="quitarRelacion(a.idAsignatura, c.idAsignatura, true)" type="button" class="btn btn-sm btn-danger"><i class="fa fa-times" aria-hidden="true"></i></button> 
							  </td>
						  </tr>
						  <tr ng-show="!a.grupos.length>0">
						  	<td colspan="5">La asignatura no tiene restricciones de grupo</td>
						  </tr>
						  </tbody>
						 </table>
			    	</td>
			    </tr>
			    <tr ng-class="{'table-info':a.selected, 'table-warning':a.verConflicto, 'table-success':a.verGrupo}" ng-show="a.verConflicto && !a.buscandoRelacion">
			    	<td colspan="7">
			    		<table class="table table-hover table-sm">
						  <thead>
						    <tr>
						    	<th colspan="5">
						    	<!--button ng-click="ultimoSeleccionado($index, false)" type="button" class="btn btn-sm btn-success"><i class="fa fa-plus" aria-hidden="true"></i></button-->  
						    	Conflictos</th>
						    </tr>
						    <tr>
						      <th>Dpto</th>
						      <th>Nombre</th>
						      <th>Turno</th>
						      <th>Seccion</th>
						      <td></td>
						    </tr>
						  </thead>
						  <tbody>
						  <tr ng-repeat="c in a.conflictos">
							  <td>{{c.dpto}}</td>
							  <td>{{c.asignatura}}</td>
							  <td>{{c.turno}}</td>
							  <td>{{c.seccion}}</td>
							  <td>
							  	<!-- button  ng-click="quitarRelacion(a.idAsignatura, c.idAsignatura, false)" type="button" class="btn btn-sm btn-danger"><i class="fa fa-times" aria-hidden="true"></i></button--> 
							  </td>
						  </tr>
						  <tr ng-show="!a.conflictos.length>0">
						  	<td colspan="5">La asignatura no tiene conflictos</td>
						  </tr>
						  </tbody>
						 </table>
			    	</td>
			    </tr>
			    <tr ng-class="{'table-info':a.selected, 'table-warning':a.verConflicto, 'table-success':a.verGrupo}" ng-show="a.selected" ng-repeat-end>
			    	<td colspan="7">
				    	<table class="table table-hover table-sm">
						  <thead>
						    <tr>
						      <th>Carrera</th>
						      <th>Nombre</th>
						      <th>Niv</th>
						      <th>Sem</th>
						      <th>&Eacute;nfasis</th>
						      <th>Plan</th>
						    </tr>
						  </thead>
						  <tbody>
						  <tr ng-repeat="c in a.carreras">
							  <td>{{c.sigla}}</td>
							  <td>{{c.nombre}}</td>
							  <td>{{c.nivel}}</td>
							  <td>{{c.semestre}}</td>
							  <td>{{c.enfasis}}</td>
							  <td>{{c.plan}}</td>
						  </tr>
						  </tbody>
						 </table>
			    	</td>
			    </tr>
			  </tbody>
			</table></div>
		</div>
	</div>
	<div class="card-footer">
		<table class="table borderless" style="margin-bottom: 0px !important;" >
			<tr ng-hide="esperando || error || vacio">
				<td align="left" style="border-top:none !important; padding:0px !important">
					<small><b><i>P&aacute;gina: {{page}}</i></b></small>	
				</td>
				<td align="right" style="border-top:none !important; padding:0px !important">
					<button type="button" class="btn btn-sm btn-default" ng-click="anterior();" ng-disabled="page==1 || esperando"><i class="fa fa-backward" aria-hidden="true"></i></button>
					<button type="button" class="btn btn-sm btn-default" ng-click="siguiente();" ng-disabled="ultimaUsuario ||esperando"><i class="fa fa-forward" aria-hidden="true"></i></button>
				</td>
			</tr>
		</table>
	</div>
</div>
<br>


<!-------------------------         ADD RELACION POPUP        ------------------------------>

<div id="addRelacionModal" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
    	<div class="modal-header">
	        <h5 class="modal-title">Agregar Relacion</h5>
      	</div>
      	<div class="modal-body">
	        	        <form>
		        <table style="padding: 2px" class="separar" width="100%">
					<tbody>
						<tr>
							<td width="40%"><input id="inputNombrePrincipal" class="form-control" placeholder="Nombre" ng-model="b_nombre"><br></td>
							<td width="25%"><input id="inputNombre" class="form-control" placeholder="Dpto" ng-model="b_dpto"><br></td>
							<td width="25%"><input id="inputCarrera" class="form-control" placeholder="Codigo" ng-model="b_codigo"><br></td>
							<td width="5%"><input id="inputProfesor" class="form-control" placeholder="Periodo" ng-model="b_periodo"><br></td>
							<td width="5%"></td>
							
						</tr>
						<tr>				
							<td colspan="4"><button style="width: 100%" type="button" class="btn btn-sm btn-info" ng-disabled="esperando"
										ng-click="buscarModal(b_nombre, b_dpto, b_codigo, b_periodo)"><i class="fa fa-search" aria-hidden="true"></i> Filtrar</button></td>
						</tr>
						<tr>
							<table colspan="4" class="tableScroll table">
					            <thead>
					              <tr>
					              		<th>Nombre</th>
										<th>Dpto</th>
										<th>Codigo</th>
										<th>Seccion</th>
										<th>Turno</th>
										<th>Periodo</th>
										<th></th>
					              </tr>
					            </thead>
					            <tbody>
									<tr ng-repeat="a in asignaturasModal">
										<td>{{a.asignatura}}</td>
								      	<td>{{a.dpto}}</td>
								       	<td>{{a.codAsig}}</td>
								       	<td>{{a.seccion}}</td>
								       	<td>{{a.turno}}</td>
								       	<td>{{a.periodo}}</td>
						                <td><a><i class="fa fa-check" aria-hidden="true" ng-click="agregarRelacion($index);"></i></a></td>
									</tr>
									<tr ng-show="esperandoModal || errorModal || vacioModal">
					            		<td colspan="3">
						            		<div ng-show="esperandoModal" class="animated">
							            		<div class="cssload-container">
													<div class="cssload-loading"><i></i><i></i><i></i><i></i></div>
												</div>
											</div>
						            		<div ng-show="!esperandoModal && errorModal" class="animated">No hay datos que mostrar.</div>
						            		<div ng-show="vacioModal" class="animated">Su b&uacute;queda no arroj&oacute; resultados.</div>
					            		</td>
					            	</tr>
					            	<tr ng-hide="esperandoModal || errorModal || vacioModal">
										<td align="left" colspan="1">
											<small><b><i>P&aacute;gina: {{pageModal}}</i></b></small>
											
										</td>
										<td align="right" colspan="4">
											<button style="width: 40%" type="button" class="btn btn-sm btn-default" ng-click="anteriorModal();" ng-disabled="pageModal==1 || esperandoModal"><i class="fa fa-backward" aria-hidden="true"></i></button>
											<button style="width: 40%" type="button" class="btn btn-sm btn-default" ng-click="siguienteModal();" ng-disabled="ultimaModal || esperandoModal"><i class="fa fa-forward" aria-hidden="true"></i></button>
										</td>
									</tr>
					            </tbody>
				          </table>
						</tr>
					</tbody>
					</table>
	        </form>
        </div>
		<div class="modal-footer">
			<button type="button" class="btn btn btn-danger" data-dismiss="modal">
				<i class="fa fa-times" aria-hidden="true"></i> Salir</button>
		</div>
    </div>
  </div>
</div>

<!-------------------------         CONFIRM POPUP        ------------------------------>

<div id="confirmModal" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
    	<div class="modal-header">
	        <h5 class="modal-title">{{title_modal}}</h5>
      	</div>
      	<div class="modal-body">
	        <table style="padding: 2px" class="separar" width="100%">
				<tbody>
					<tr>
						<td colspan="2">
							<p>{{message_modal}}</p>
						</td>
					</tr>
				</tbody>
			</table>
        </div>
		<div class="modal-footer">
			<button type="button" class="btn btn btn-success" data-dismiss="modal"
				ng-click="eliminarAsig()">
				<i class="fa fa-floppy-o" aria-hidden="true"></i> Confirmar</button>
			<button type="button" class="btn btn btn-danger" data-dismiss="modal">
				<i class="fa fa-times" aria-hidden="true"></i> Cancelar</button>
		</div>
    </div>
  </div>
</div>
</blockquote></div></div>