<div class="row">
	<div class="col">
		<h1 align="center"> Administraci&oacute;n de Aulas </h1>
	</div>
</div>
<div class="row">
	<div class="col-3">
		<div class="input-group">
				<div class="input-group-prepend"><span class="input-group-text" id="basic-addon1"><i class="fa fa-filter" aria-hidden="true"></i></span></div>
			<input id="inputNombre" class="form-control" placeholder="Nombre" ng-model="nombre">
		</div>
	</div>
	<div class="col-3"">
		<div class="input-group">
				<div class="input-group-prepend"><span class="input-group-text" id="basic-addon1"><i class="fa fa-filter" aria-hidden="true"></i></span></div>
			<input type="number" id="inputCapacidad" class="form-control" placeholder="Capacidad" ng-model="capacidad">
		</div>
	</div>
	<div class="col-3">
		<div class="input-group">
				<div class="input-group-prepend"><span class="input-group-text" id="basic-addon1"><i class="fa fa-filter" aria-hidden="true"></i></span></div>
				<select class="form-control" ng-model="tipo">
					<option ng-repeat="t in tipos" value="{{t.idTipoAula}}">{{t.idTipoAula}} | {{t.descripcion}}</option>
				</select>
		</div>
	</div>
	<div class="col-3 text-right">
		<button type="button" class="btn btn-circle btn-info" ng-disabled="esperando" ng-click="buscar()"><i class="fa fa-search" aria-hidden="true"></i></button>
		<button type="button" class="btn btn-circle btn-success" data-toggle="modal" 
				data-target="#aulaModal" ng-click="open()" >
			<i class="fa fa-plus" aria-hidden="true"></i></button>
	</div>	
</div><br>



<div class="row">
<div class="col">
	<div class="card">
		<div class="card-body">
		<h5 class="card-title">Aulas</h5>
		<div class="table-responsive">
          <table class="table table-hover table-sm">
            <thead class="thead">
              <tr>
                <th width="30%"><a ng-click="ordenarNombre();">Nombre</a>
                	<div style="display:inline;" ng-show="orderNombre && orderAsc"><i class="fa fa-sort-amount-asc" aria-hidden="true"></i></div>
                	<div style="display:inline;" ng-show="orderNombre && !orderAsc"><i class="fa fa-sort-amount-desc" aria-hidden="true"></i></div>
                </th>
                <th width="20%"><a ng-click="ordenarCapacidad();">Capacidad</a>
                	<div style="display:inline;" ng-show="orderCapacidad && orderAsc"><i class="fa fa-sort-amount-asc" aria-hidden="true"></i></div>
                	<div style="display:inline;" ng-show="orderCapacidad && !orderAsc"><i class="fa fa-sort-amount-desc" aria-hidden="true"></i></div>
                </th>
                <th width="30%"><a ng-click="ordenarTipo();">Tipo</a>
                	<div style="display:inline;" ng-show="orderTipo && orderAsc"><i class="fa fa-sort-amount-asc" aria-hidden="true"></i></div>
                	<div style="display:inline;" ng-show="orderTipo && !orderAsc"><i class="fa fa-sort-amount-desc" aria-hidden="true"></i></div>
                </th>
				<th>&nbsp;</th>
              </tr>
            </thead>
            <tbody>
					<tr ng-repeat="aula in aulas">
	                <td>{{aula.nombre}}</td>
	                <td>{{aula.capacidad}}</td>
	                <td>{{aula.idTipoAula}} | {{aula.descripcionTipoAula}}</td>
					<td align="right">
						<button type="button" class="btn btn-outline-primary btn-sm"
							ng-click="edit($index)" data-toggle="modal" 
							data-target="#aulaModal" data-placement="bottom" title="Editar" bootstrap-tooltip>
							<i class="fa fa-pencil-square-o" aria-hidden="true"></i>
						</button>
						<button type="button" class="btn btn-outline-primary btn-sm"
							ng-click="eliminar($index)" data-toggle="modal" data-target="#confirmModal"
							data-placement="bottom" title="Eliminar" bootstrap-tooltip>
							<i class="fa fa-trash" aria-hidden="true"></i>
						</button>
					</td>
					</tr>
				<tr ng-show="esperando || error || vacio">
            		<td colspan="4">
	            		<div ng-show="esperando" class="animated">
		            		<div class="cssload-container">
								<div class="cssload-loading"><i></i><i></i><i></i><i></i></div>
							</div>
	            		</div>
	            		<div ng-show="!esperando && error" class="animated">No hay datos que mostrar.</div>
	            		<div ng-show="vacio" class="animated">Su b&uacute;queda no arroj&oacute; resultados.</div>
            		</td>
            	</tr>
            </tbody>
          </table>
		</div>
		</div>
		<div class="card-footer">
		    <table class="table borderless" style="margin-bottom: 0px !important;" >
	    	    <tr ng-hide="esperando || error || vacio">
					<td align="left" style="border-top:none !important; padding:0px !important">
						<small><b><i>P&aacute;gina: {{page}}</i></b></small>
						
					</td>
					<td align="right" style="border-top:none !important; padding:0px !important">
						<button type="button" class="btn btn-sm btn-default" ng-click="anterior();" ng-disabled="page==1 || esperando"><i class="fa fa-backward" aria-hidden="true"></i></button>
						<button type="button" class="btn btn-sm btn-default" ng-click="siguiente();" ng-disabled="ultima ||esperando"><i class="fa fa-forward" aria-hidden="true"></i></button>
					</td>
				</tr>
		    </table>
		</div>


</div></div>
</div>


<!-------------------------         AGREGAR POPUP        -------------------------------->



<div  id="aulaModal" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" novalidate>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
    	<div class="modal-header">
	        <h5 class="modal-title">{{title_modal}}</h5>
      	</div>
      	<div class="modal-body">
	        <table style="padding: 2px" class="separar" width="100%">
				<tbody>
					<tr>
						<td width="50%">Nombre:</td>
						<td width="50%"><input id="inputAltaNombre" class="form-control"
							placeholder="Nombre" ng-model="nombre_aula">
							<div class="invalid-feedback">
							    Campo Requerido 
							</div>
						</td>
					</tr>
					<tr>
						<td>Capacidad:</td>
						<td><input id="inputAltaCapacidad" class="form-control"
							placeholder="Capacidad" ng-model="capacidad_aula">
							<div class="invalid-feedback">
							    Campo Requerido 
							</div>
						</td>
					</tr>
					<tr>
						<td>Tipo:</td>
						<td>
							<select class="form-control" ng-model="tipo">
									<option ng-repeat="tm in tipos" value="{{tm.idTipoAula}}">{{tm.idTipoAula}} | {{tm.descripcion}}</option>
							</select>
							<input ng-show="false" class="form-control">
							<div class="invalid-feedback">
							    Campo Requerido 
							</div>
						</td>
					</tr>
				</tbody>
			</table>
        </div>
		<div class="modal-footer">
			<button type="button" class="btn btn btn-success"
				ng-click="guardar(id_aula, nombre_aula, capacidad_aula, tipo)">
				<i class="fa fa-floppy-o" aria-hidden="true"></i> Guardar</button>
			<button type="button" class="btn btn btn-danger" data-dismiss="modal">
				<i class="fa fa-times" aria-hidden="true"></i> Cancelar</button>
		</div>
    </div>
  </div>
</div>


<!-------------------------         CONFIRM POPUP        ------------------------------>

<div id="confirmModal" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
    	<div class="modal-header">
	        <h5 class="modal-title">{{title_modal}}</h5>
      	</div>
      	<div class="modal-body">
	        <table style="padding: 2px" class="separar" width="100%">
				<tbody>
					<tr>
						<td colspan="2">
							<p>{{message_modal}}</p>
						</td>
					</tr>
				</tbody>
			</table>
        </div>
		<div class="modal-footer">
			<button type="button" class="btn btn btn-success" data-dismiss="modal"
				ng-click="confirmDelete()">
				<i class="fa fa-floppy-o" aria-hidden="true"></i> Confirmar</button>
			<button type="button" class="btn btn btn-danger" data-dismiss="modal">
				<i class="fa fa-times" aria-hidden="true"></i> Cancelar</button>
		</div>
    </div>
  </div>
</div>