<h1 align="center">
	Administraci&oacute;n de Asignaturas
</h1>
<h2 align="center">
	{{carrera.nombre}}
</h2><br>
<div class="row">
<div class="col-md-3">	
	<div class="card">
		<div class="card-header">
			<h4>Acciones</h4>
		</div>
		<div class="card-body">
			Nombre:
			<input id="inputNombre" class="filter form-control" placeholder="Nombre" ng-model="nombre"><br>
			Semestre:
			<input id="inputSemestre" class="filter form-control" placeholder="Semestre" ng-model="semestre"><br>
			Enfasis:
			<input id="inputEnfasis" class="filter form-control" placeholder="Enfasis" ng-model="enfasis"><br>
			Periodo:
			<input id="inputPeriodo" class="filter form-control" placeholder="Periodo" ng-model="periodo"><br>
			<button style="width: 100%" type="button" class="btn btn-sm btn-info" ng-click="buscar();" ng-disabled="esperando"><i class="fa fa-search" aria-hidden="true"></i> Filtrar</button><br><br>
			<button style="width: 100%" type="button" class="btn btn-sm btn-success" ng-disabled="esperando" ng-click="open()"><i class="fa fa-plus" aria-hidden="true"></i> Nueva Asignatura</button><br><br>
		</div>
	</div>
</div>
<div class="col-md-9">
	<div class="card">
		<div class="card-header">
			<h4>Listado</h4>
		</div>
		<div class="card-body"><blockquote class="card-blockquote">
		<br/>
          <table class="table table-hover table-bordered table-responsive table-sm">
            <thead class="thead-dark">
              <tr>
                <th width="35%"><a ng-click="ordenar('nombre');">Nombre
                	<div style="display:inline;" ng-show="order=='nombre' && orderAsc"><i class="fa fa-sort-amount-asc" aria-hidden="true"></i></div>
                	<div style="display:inline;" ng-show="order=='nombre' && !orderAsc"><i class="fa fa-sort-amount-desc" aria-hidden="true"></i></div>
                </a></th>
                <th width="15%"><a ng-click="ordenar('semestre');">Semestre
                	<div style="display:inline;" ng-show="order=='semestre' && orderAsc"><i class="fa fa-sort-amount-asc" aria-hidden="true"></i></div>
                	<div style="display:inline;" ng-show="order=='semestre' && !orderAsc"><i class="fa fa-sort-amount-desc" aria-hidden="true"></i></div>
                </a></th>
                <th width="15%"><a ng-click="ordenar('enfasis');">Enfasis
                	<div style="display:inline;" ng-show="order=='enfasis' && orderAsc"><i class="fa fa-sort-amount-asc" aria-hidden="true"></i></div>
                	<div style="display:inline;" ng-show="order=='enfasis' && !orderAsc"><i class="fa fa-sort-amount-desc" aria-hidden="true"></i></div>
                </a></th>
                <th width="15%"><a ng-click="ordenar('periodo');">Periodo
                	<div style="display:inline;" ng-show="order=='periodo' && orderAsc"><i class="fa fa-sort-amount-asc" aria-hidden="true"></i></div>
                	<div style="display:inline;" ng-show="order=='periodo' && !orderAsc"><i class="fa fa-sort-amount-desc" aria-hidden="true"></i></div>
                </a></th>
				<th width="20%" align="center">Editar/Eliminar</th>
              </tr>
            </thead>
            <tbody>
					<tr ng-repeat="asignatura in asignaturas">
	                <td>{{asignatura.nombre}}</td>
	                <td>{{asignatura.semestre}}</td>
	                <td>{{asignatura.enfasis}}</td>
	                <td>{{asignatura.periodo}}</td>
					<td>
					<button type="button" class="btn btn-secondary"
						ng-click="gotoAsignatura($index)" data-toggle="tooltip"
						data-placement="bottom" title="Editar" bootstrap-tooltip>
						<i class="fa fa-pencil-square-o" aria-hidden="true"></i>
					</button>
					<button type="button" class="btn btn-secondary"
						ng-click="eliminar($index)" data-toggle="tooltip"
						data-placement="bottom" title="Eliminar" bootstrap-tooltip>
						<i class="fa fa-trash" aria-hidden="true"></i>
					</button>
					</tr>
				<tr ng-show="esperando || error || vacio">
            		<td colspan="6">
	            		<div ng-show="esperando" class="animated">
							<div class="cssload-container">
								<div class="cssload-loading"><i></i><i></i><i></i><i></i></div>
							</div>
						</div>
	            		<div ng-show="!esperando && error" class="animated">No hay datos que mostrar.</div>
	            		<div ng-show="vacio" class="animated">Su b&uacute;queda no arroj&oacute; resultados.</div>
            		</td>
            	</tr>
				<tr ng-hide="esperando || error || vacio">
					<td align="left" colspan="3">
						<small><b><i>P&aacute;gina: {{page}}</i></b></small>
						
					</td>
					<td align="right" colspan="2">
						<button style="width: 40%" type="button" class="btn btn-sm btn-default" ng-click="anterior();" ng-disabled="page==1 || esperando"><i class="fa fa-backward" aria-hidden="true"></i></button>
						<button style="width: 40%" type="button" class="btn btn-sm btn-default" ng-click="siguiente();" ng-disabled="ultima ||esperando"><i class="fa fa-forward" aria-hidden="true"></i></button>
					</td>
				</tr>
            </tbody>
          </table>
</blockquote></div></div></div>
</div>