<div class="row">
<div class="col">

<h1 align="center">
		Administraci&oacute;n de Carreras
	</h1>
</div>
</div>
<div class="row">
	<div class="col-3">
		<div class="input-group">
			<div class="input-group-prepend"><span class="input-group-text" id="basic-addon1"><i class="fa fa-filter" aria-hidden="true"></i></span></div>
			<input type="text" class="form-control" placeholder="Nombre" aria-describedby="basic-addon1" ng-model="nombre">
		</div>
	</div>
	<div class="col-3">
		<div class="input-group">
			<div class="input-group-prepend"><span class="input-group-text" id="basic-addon1"><i class="fa fa-filter" aria-hidden="true"></i></span></div>
			<input type="text" class="form-control" placeholder="Sigla" aria-describedby="basic-addon1" ng-model="sigla">
		</div>
	</div>
	<div class="col-3">
		<button type="button" class="btn btn-circle btn-info" ng-click="buscar();" ng-disabled="esperando"><i class="fa fa-search" aria-hidden="true"></i></button>
	</div>
	<div class="col-3 text-right">
		<button type="button" class="btn btn-circle btn-success" data-toggle="modal" 
				data-target="#carreraModal" ng-click="open()" >
			<i class="fa fa-plus" aria-hidden="true"></i></button>
	</div>
</div>
<br>









<div class="row">
<div class="col">
	<div class="card">
		<div class="card-body">
		<h5 class="card-title">Listado</h5>
		<div class="table-responsive">
		<br/>
          <table class="table table-hover table-sm">
            <thead class="thead">
              <tr>
                <th width="50%"><a ng-click="ordenarNombre();">Nombre
                	<div style="display:inline;" ng-show="orderNombre && orderAsc"><i class="fa fa-sort-amount-asc" aria-hidden="true"></i></div>
                	<div style="display:inline;" ng-show="orderNombre && !orderAsc"><i class="fa fa-sort-amount-desc" aria-hidden="true"></i></div>
                </a></th>
                <th><a ng-click="ordenarSigla();">Sigla
                	<div style="display:inline;" ng-show="orderSigla && orderAsc"><i class="fa fa-sort-amount-asc" aria-hidden="true"></i></div>
                	<div style="display:inline;" ng-show="orderSigla && !orderAsc"><i class="fa fa-sort-amount-desc" aria-hidden="true"></i></div>
                </a></th>
                <th>CodCarSec</th>
				<th>&nbsp;</th>
              </tr>
            </thead>
            <tbody>
					<tr ng-repeat="carrera in carreras">
	                <td>{{carrera.nombre}}</td>
	                <td>{{carrera.sigla}}</td>
	                <td>{{carrera.codCarSec}}</td>
					<td align="right">
						<button type="button" class="btn btn-outline-primary btn-sm" data-target="#carreraModal" ng-click="edit($index)" data-toggle="modal" data-placement="bottom" title="Editar" bootstrap-tooltip> <i class="fa fa-pencil-square-o" aria-hidden="true"></i> </button>
						<button type="button" class="btn btn-outline-primary btn-sm" data-target="#confirmModal" ng-click="eliminar($index)" data-toggle="modal" data-placement="bottom" title="Eliminar" bootstrap-tooltip> <i class="fa fa-trash" aria-hidden="true"></i> </button>
						<button type="button" class="btn btn-outline-primary btn-sm"
										ng-click="gotoCarrera($index)" data-toggle="tooltip"
										data-placement="bottom" title="Ver Asignaturas" bootstrap-tooltip>
										<i class="fa fa-book" aria-hidden="true"></i>
						</button>
						<button type="button" class="btn btn-outline-primary btn-sm"
										ng-click="gotoConflictoCarrera($index)" data-toggle="tooltip"
										data-placement="bottom" title="Autoconfigurar Conflictos" bootstrap-tooltip>
										<i class="fa fa-cogs" aria-hidden="true"></i>
						</button>
					</td>
					</tr>
				<tr ng-show="esperando || error || vacio">
            		<td colspan="4">
	            		<div ng-show="esperando" class="animated">
							<div class="cssload-container">
								<div class="cssload-loading"><i></i><i></i><i></i><i></i></div>
							</div>
						</div>
	            		<div ng-show="!esperando && error" class="animated">No hay datos que mostrar.</div>
	            		<div ng-show="vacio" class="animated">Su b&uacute;queda no arroj&oacute; resultados.</div>
            		</td>
            	</tr>
            </tbody>
          </table>
		</div></div>
		<div class="card-footer">
		    <table class="table borderless" style="margin-bottom: 0px !important;" >
		    	<tr ng-hide="esperando || error || vacio">
					<td align="left" style="border-top:none !important; padding:0px !important">
						<small><b><i>P&aacute;gina: {{page}}</i></b></small>
						
					</td>
					<td align="right" style="border-top:none !important; padding:0px !important">
						<button type="button" class="btn btn-sm btn-default" ng-click="anterior();" ng-disabled="page==1 || esperando"><i class="fa fa-backward" aria-hidden="true"></i></button>
						<button type="button" class="btn btn-sm btn-default" ng-click="siguiente();" ng-disabled="ultimaUsuario ||esperando"><i class="fa fa-forward" aria-hidden="true"></i></button>
					</td>
				</tr>
		    </table>
		  </div>


</div></div>
</div>

<!-------------------------         AGREGAR POPUP        -------------------------------->



<div  id="carreraModal" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" novalidate>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
    	<div class="modal-header">
	        <h5 class="modal-title">{{title_modal}}</h5>
      	</div>
      	<div class="modal-body">
	        <table style="padding: 2px" class="separar" width="100%">
				<tbody>
					<tr>
						<td width="30%">Nombre:</td>
						<td width="70%"><input id="inputCarrera" class="form-control"
							placeholder="Nombre" ng-model="nombre_carrera">
							<div class="invalid-feedback">
						        Campo Requerido 
						    </div>
						 </td>
					</tr>
					<tr>
						<td>Siglas:</td>
						<td><input id="inputSigla" class="form-control"
							placeholder="Siglas" ng-model="sigla_carrera">
							<div class="invalid-feedback">
						        Campo Requerido 
						    </div>
						</td>
					</tr>
					<tr>
						<td>C&oacute;digo Carrera ACAD:</td>
						<td><input id="inputCod" class="form-control"
							placeholder="Código ACAD" ng-model="codCarSec">
							<div class="invalid-feedback">
						        Campo Requerido 
						    </div>
						 </td>
					</tr>
				</tbody>
			</table>
        </div>
		<div class="modal-footer">
			<button type="button" class="btn btn btn-success"
				ng-click="guardar(id_carrera, nombre_carrera, sigla_carrera, codCarSec)">
				<i class="fa fa-floppy-o" aria-hidden="true"></i> Guardar</button>
			<button type="button" class="btn btn btn-danger" data-dismiss="modal">
				<i class="fa fa-times" aria-hidden="true"></i> Cancelar</button>
		</div>
    </div>
  </div>
</div>


<!-------------------------         CONFIRM POPUP        ------------------------------>

<div id="confirmModal" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
    	<div class="modal-header">
	        <h5 class="modal-title">{{title_modal}}</h5>
      	</div>
      	<div class="modal-body">
	        <table style="padding: 2px" class="separar" width="100%">
				<tbody>
					<tr>
						<td colspan="2">
							<p>{{message_modal}}</p>
						</td>
					</tr>
				</tbody>
			</table>
        </div>
		<div class="modal-footer">
			<button type="button" class="btn btn btn-success" data-dismiss="modal"
				ng-click="confirmDelete()">
				<i class="fa fa-floppy-o" aria-hidden="true"></i> Confirmar</button>
			<button type="button" class="btn btn btn-danger" data-dismiss="modal">
				<i class="fa fa-times" aria-hidden="true"></i> Cancelar</button>
		</div>
    </div>
  </div>
</div>