<h1 align="center">Autoconfiguraci&oacute;n de Conflictos</h1><br>
<div class="card">
	<div class="card-body">
		<div class="row" >
		  <div class="col-12" align="right">
		    <button type="button" class="btn btn-success" ng-click="guardar();" ng-disabled="esperando">
		      <i class="fa fa-floppy-o" aria-hidden="true"></i> Guardar
		    </button>
		    </div>
		
		</div>
		<div class="row">
		<div class="col"> 
		        <div class="table-responsive"><br/>
		          <table class="table table-hover table-sm">
		            <thead class="thead">
		              <tr>
		                <th><input type="text" class="form-control" placeholder="COD" aria-describedby="basic-addon1" ng-model="search.codigoAsig"></th>
		                <th width="40%"><input type="text" class="form-control" placeholder="Asignatura" aria-describedby="basic-addon1" ng-model="search.nombreAsignatura"></th>
		                <th><input type="text" class="form-control" placeholder="Enfasis" aria-describedby="basic-addon1" ng-model="search.enfasis"></th>
		                <th><input type="text" class="form-control" placeholder="Plan" aria-describedby="basic-addon1" ng-model="search.plan"></th>
		                <th><input type="text" class="form-control" placeholder="Semestre" aria-describedby="basic-addon1" ng-model="search.semestre"></th>
		                <th><input type="text" class="form-control" placeholder="Nivel" aria-describedby="basic-addon1" ng-model="search.nivel"></th>
		                <th colspan="2"><input type="text" class="form-control" placeholder="Conflicto" aria-describedby="basic-addon1" ng-model="search.grupoConflictoAux"></th>
		              </tr>
		            </thead>
		            <tbody>
							<tr ng-repeat="c in carrerasConflicto | filter:search | orderBy:'semestre' | slice:(currentPage*pageSize):(currentPage*pageSize+pageSize)">
		                            <td>{{c.codigoAsig}} <i class="fa fa-asterisk" aria-hidden="true" ng-show="c.grupoConflicto!=c.grupoConflictoAux"></i></td>
		                            <td>{{c.nombreAsignatura}} ({{c.turno}}{{c.seccion}})</td>
		                            <td>{{c.enfasis}}</td>
		                            <td>{{c.plan}}</td>
		                            <td>{{c.semestre}}</td>
		                            <td>{{c.nivel}}</td>
		                            <td><input type="text" class="form-control" placeholder="Conflicto" aria-describedby="basic-addon1" ng-model="c.grupoConflictoAux"
		                              ng-disabled="!c.edited"
		                              >
		                            </td>
		                            <td>
		                                <button type="button" class="btn btn-outline-primary btn-sm"
		                                  ng-click="c.edited=true" data-toggle="tooltip"
		                                  data-placement="bottom" title="Editar" bootstrap-tooltip
		                                  ng-show="c.grupoConflicto==c.grupoConflictoAux && !c.edited"
		                                  ng-disabled="esperando">
		                                  <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
		                                </button>
		                                <button type="button" class="btn btn-outline-primary btn-sm"
		                                  ng-click="c.grupoConflictoAux=c.grupoConflicto;c.edited=false" data-toggle="tooltip"
		                                  data-placement="bottom" title="Deshacer" bootstrap-tooltip
		                                  ng-show="c.grupoConflicto!=c.grupoConflictoAux || c.edited"
		                                  ng-disabled="esperando">
		                                  <i class="fa fa-reply" aria-hidden="true"></i>
		                                </button>
		                            </td>
							</tr>
						<tr ng-show="esperando || error || vacio">
		            		<td colspan="4">
			            		<div ng-show="esperando" class="animated">
									<div class="cssload-container">
										<div class="cssload-loading"><i></i><i></i><i></i><i></i></div>
									</div>
								</div>
			            		<div ng-show="!esperando && error" class="animated">No hay datos que mostrar.</div>
			            		<div ng-show="vacio" class="animated">Su b&uacute;queda no arroj&oacute; resultados.</div>
		            		</td>
		            	</tr>
		            </tbody>
		          </table>
		</div>
		</div>
		</div>
	</div>
	<div class="card-footer">
		<div class="row" >
		  <div class="col-6" align="left">
		  <button type="button" class="btn btn-sm btn-default" ng-click="anterior();" ng-disabled="currentPage==0 || esperando"><i class="fa fa-backward" aria-hidden="true"></i></button>
		      <button type="button" class="btn btn-sm btn-default" ng-click="siguiente();" ng-disabled="( redondeoMax((carrerasConflicto | filter:search).length/pageSize)<=currentPage+1 ) ||esperando"><i class="fa fa-forward" aria-hidden="true"></i></button>
		      | <small><b><i>P&aacute;gina: {{currentPage+1}}</i></b></small>
		  </div>
		    <div class="col-6" align="right"> <small><b><i>Resultados por p&aacute;gina</i></b></small>
		        <button type="button" class="btn btn-sm btn-default" ng-click="setPageSize(5);" >5</button>
		        <button type="button" class="btn btn-sm btn-default" ng-click="setPageSize(10);" >10</button>
		        <button type="button" class="btn btn-sm btn-default" ng-click="setPageSize(20);" >20</button>
		        <button type="button" class="btn btn-sm btn-default" ng-click="setPageSize(30);" >30</button>
		        <button type="button" class="btn btn-sm btn-default" ng-click="setPageSize(40);" >40</button>
		     </div>
		</div>
	</div>





</div>



<!-------------------------         CONFIRM POPUP        ------------------------------>

<div id="confirmModal" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">{{title_modal}}</h5>
          </div>
          <div class="modal-body">
            <table style="padding: 2px" class="separar" width="100%">
          <tbody>
            <tr>
              <td colspan="2">
                <p>{{message_modal}}</p>
              </td>
            </tr>
          </tbody>
        </table>
          </div>
      <div class="modal-footer">
        <button type="button" class="btn btn btn-success"
          ng-click="autoConfigurar()">
          <i class="fa fa-floppy-o" aria-hidden="true"></i> Confirmar</button>
        <button type="button" class="btn btn btn-danger" data-dismiss="modal">
          <i class="fa fa-times" aria-hidden="true"></i> Cancelar</button>
      </div>
      </div>
    </div>
  </div>