<div class="row">
	<div class="col">
		<h1 align="center">	Administraci&oacute;n de Departamentos </h1>
	</div>
</div>

<div class="row">
	<div class="col-12 text-right">
		<button type="button" class="btn btn-circle btn-success" data-toggle="modal" 
				data-target="#dptoModal" ng-click="open()" >
			<i class="fa fa-plus" aria-hidden="true"></i></button>
	</div>
</div>
<br>
<div class="row">
	<div class="col-md-12">
		<div class="card">
			<div class="card-body">
				<h5 class="card-title">Departamentos</h5>
				<div class="table-responsive">
					<table class="table table-hover table-sm">
						<thead class="thead">
							<tr>
								<th>Departamento</th>
								<th>Siglas</th>
								<th align="center">&nbsp;</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="d in departamentos">
								<td>{{d.nombre}}</td>
								<td>{{d.sigla}}</td>
								<td align="right">
									<button type="button" class="btn btn-outline-primary btn-sm" data-toggle="modal"
										data-target="#dptoModal" ng-click="edit($index)"
										data-placement="bottom" title="Editar" bootstrap-tooltip>
										<i class="fa fa-pencil-square-o" aria-hidden="true"></i>
									</button>
									<button type="button" class="btn btn-outline-primary btn-sm"
										ng-click="select($index)" data-toggle="tooltip"
										data-placement="bottom" title="Ver Asignaturas" bootstrap-tooltip>
										<i class="fa fa-book" aria-hidden="true"></i>
									</button>
									<button type="button" class="btn btn-outline-primary btn-sm" data-toggle="modal"
										data-target="#confirmModal" ng-click="eliminar($index)"
										data-placement="bottom" title="Eliminar" bootstrap-tooltip>
										<i class="fa fa-trash" aria-hidden="true"></i>
									</button>
								</td>
							</tr>
							<tr ng-show="esperando || error || vacio">
								<td colspan="3">
									<div ng-show="esperando" class="animated">
										<div class="cssload-container">
											<div class="cssload-loading"><i></i><i></i><i></i><i></i></div>
										</div>
									</div>
									<div ng-show="!esperando && error" class="animated">No
										hay datos que mostrar.</div>
									<div ng-show="vacio" class="animated">Su b&uacute;queda
										no arroj&oacute; resultados.</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>



<!-------------------------         AGREGAR POPUP        -------------------------------->



<div  id="dptoModal" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" novalidate>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
    	<div class="modal-header">
	        <h5 class="modal-title">{{title_modal}}</h5>
      	</div>
      	<div class="modal-body">
	        <table style="padding: 2px" class="separar" width="100%">
				<tbody>
					<tr>
						<td width="30%">Nombre:</td>
						<td width="70%"><input id="inputNombre" class="form-control"
							placeholder="Nombre" ng-model="nombre_dpto">
							<div class="invalid-feedback">
						        Campo Requerido 
						    </div>
						</td>
					</tr>
					<tr>
						<td>Siglas:</td>
						<td><input id="inputSigla" class="form-control"
							placeholder="Siglas" ng-model="sigla_dpto">
							<div class="invalid-feedback">
						        Campo Requerido 
						     </div>
						</td>
					</tr>
				</tbody>
			</table>
        </div>
		<div class="modal-footer">
			<button type="button" class="btn btn btn-success"
				ng-click="guardar(id_dpto, nombre_dpto, sigla_dpto)">
				<i class="fa fa-floppy-o" aria-hidden="true"></i> Guardar</button>
			<button type="button" class="btn btn btn-danger" data-dismiss="modal">
				<i class="fa fa-times" aria-hidden="true"></i> Cancelar</button>
		</div>
    </div>
  </div>
</div>


<!-------------------------         CONFIRM POPUP        ------------------------------>

<div id="confirmModal" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
    	<div class="modal-header">
	        <h5 class="modal-title">{{title_modal}}</h5>
      	</div>
      	<div class="modal-body">
	        <table style="padding: 2px" class="separar" width="100%">
				<tbody>
					<tr>
						<td colspan="2">
							<p>{{message_modal}}</p>
						</td>
					</tr>
				</tbody>
			</table>
        </div>
		<div class="modal-footer">
			<button type="button" class="btn btn btn-success" data-dismiss="modal"
				ng-click="confirmDelete()">
				<i class="fa fa-floppy-o" aria-hidden="true"></i> Confirmar</button>
			<button type="button" class="btn btn btn-danger" data-dismiss="modal">
				<i class="fa fa-times" aria-hidden="true"></i> Cancelar</button>
		</div>
    </div>
  </div>
</div>