<div class="row" ng-show="logeado">

<div class="col-md-1">
&nbsp; 
</div>

<div class="col-md-10"><br><br><br><br>
<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title">Bienvenido</h3>
		</div>
		<div class="panel-body">
			Aqui puede ir informacion util
		</div>
	</div>
</div>

<div class="col-md-1">
</div>
&nbsp;
</div>