<div id="miCuenta" class="row justify-content-center" novalidate>
	<div class="col-xs-12 col-sm-8 col-md-8 col-lg-6">
		<div class="card">
			<div class="card-body">
				<h5 class="card-title">Cambiar Contrase&ntilde;a</h5><br />
				<label for="inputTitulo">Contrase&ntilde;a Actual:</label>
				<input type="password" id="newPassword" class="form-control"
											placeholder="Contrase&ntilde;a Actual" ng-model="passwordActual"><br />
				<label for="inputTitulo">Nueva Contrase&ntilde;a:</label>
				<input type="password" id="oldPassword" class="form-control"
											placeholder="Nueva Contrase&ntilde;a" ng-model="passwordNuevo">
							<div class="invalid-feedback">
							    Nuevo password no coincide 
							</div><br />
				<label for="inputTitulo">Confirmar Contrase&ntilde;a:</label>
				<input type="password" id="oldConfirmPassword" class="form-control"
											placeholder="Confirmar Contrase&ntilde;a" ng-model="passwordNuevoVerif">
							<div class="invalid-feedback">
							    Nuevo password no coincide 
							</div><br />											
				<button style="width: 100%" type="button" class="btn btn-sm btn-success" ng-click="cambiarPass();" ng-disabled="esperando || error"><i class="fa fa-floppy-o" aria-hidden="true"></i> Cambiar</button><br><br>
				<button style="width: 100%" type="button" class="btn btn-sm btn-danger" ng-click="cancelar();" ng-disabled="esperando || error"><i class="fa fa-trash" aria-hidden="true"></i> Cancelar</button><br><br>
			</div>
		</div>
	</div>
</div>