<h1 align="center">
	Configuraci&oacute;n
</h1><br>
<div class="row">
<div class="col-md-12">	
	<div class="card">
		<div class="card-header">
			<h4>Param&aacute;metros</h4>
		</div>
		<div class="card-body"><blockquote class="card-blockquote">
			<div class="row" ng-repeat="p in params">
				<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
					<b>{{p.clave}}</b>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
					{{p.descripcion}}
				</div>
				<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
					<table>
					<tr>
					<td  width="95%" >
						<input type="text" class="form-control" placeholder="Nombre" aria-describedby="basic-addon1" ng-model="p.valor">
					</td>
					<td  width="5%" >
						<button type="button"
							class="btn btn btn-success" data-target="#confirmModal" data-toggle="modal" ng-click="guardar(p.clave, p.valor)">
								<i class="fa fa-floppy-o" aria-hidden="true"></i></button>
					</td>
					</tr>
					</table>
				</div>
			</div>
		</blockquote></div>
	</div>
</div>


<!-------------------------         CONFIRM POPUP        ------------------------------>

<div id="confirmModal" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
    	<div class="modal-header">
	        <h5 class="modal-title">Estas seguro que desea modificar {{clave}}</h5>
      	</div>
      	<div class="modal-body">
	        <table style="padding: 2px" class="separar" width="100%">
				<tbody>
					<tr>
						<td colspan="2">
							<p>Este cambio podr&iacute;a dejar el sistema inutilizable</p>
						</td>
					</tr>
				</tbody>
			</table>
        </div>
		<div class="modal-footer">
			<button type="button" class="btn btn btn-success" data-dismiss="modal"
				ng-click="confirmGuardar()">
				<i class="fa fa-floppy-o" aria-hidden="true"></i> Confirmar</button>
			<button type="button" class="btn btn btn-danger" data-dismiss="modal">
				<i class="fa fa-times" aria-hidden="true"></i> Cancelar</button>
		</div>
    </div>
  </div>
</div>