<div class="row">
	<div class="col">
		<h1 align="center">	{{copia.titulo}} {{copia.nombre}} {{copia.apellido}} </h1>
	</div>
</div>

<div class="row">
	<div class="col-12 text-right">
		<button type="button" class="btn btn-circle btn-success" data-toggle="modal" data-target="#confirmModal" ng-click="guardar();" ng-disabled="esperando" title="Guardar" bootstrap-tooltip><i class="fa fa-floppy-o" aria-hidden="true"></i></button>
		<button type="button" class="btn btn-circle btn-danger" ng-click="cancelar();" ng-disabled="esperando" title="Deshacer" bootstrap-tooltip><i class="fa fa-undo" aria-hidden="true" ></i></button>
		
	</div>
</div>
<br>
<div class="row">
<div class="col">
	<div class="card">
		<div class="card-body">
		<h5 class="card-title">Restricciones de Horario para Profesor</h5>
        	<slot-time data="profesor" slot="slot"></slot-time>
		</div>
	</div>
</div>
</div>


<!-------------------------         CONFIRM POPUP        ------------------------------>

<div id="confirmModal" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
    	<div class="modal-header">
	        <h5 class="modal-title">{{title_modal}}</h5>
      	</div>
      	<div class="modal-body">
	        <table style="padding: 2px" class="separar" width="100%">
				<tbody>
					<tr>
						<td colspan="2">
							<p>{{message_modal}}</p>
						</td>
					</tr>
				</tbody>
			</table>
        </div>
		<div class="modal-footer">
			<button type="button" class="btn btn-success" data-dismiss="modal"
				ng-click="confirmGuardar()">
				<i class="fa fa-floppy-o" aria-hidden="true"></i> Confirmar</button>
			<button type="button" class="btn btn-danger" data-dismiss="modal">
				<i class="fa fa-times" aria-hidden="true"></i> Cancelar</button>
		</div>
    </div>
  </div>
</div>
