<div class="row">
<div class="col">

<h1 align="center">
		Administraci&oacute;n de Profesores
	</h1>
</div>
</div>
<div class="row">
	<div class="col-3">
		<div class="input-group">
				<div class="input-group-prepend"><span class="input-group-text" id="basic-addon1"><i class="fa fa-filter" aria-hidden="true"></i></span></div>
		  <input type="text" class="form-control" placeholder="Nombre" aria-describedby="basic-addon1" ng-model="busqueda_nombre">
		</div>
	</div>
	<div class="col-3"">
		<div class="input-group">
				<div class="input-group-prepend"><span class="input-group-text" id="basic-addon1"><i class="fa fa-filter" aria-hidden="true"></i></span></div>
		  <input type="text" class="form-control" placeholder="Apellido" aria-describedby="basic-addon1" ng-model="busqueda_apellido">
		</div>
	</div>
	<div class="col-3">
		<div class="input-group">
				<div class="input-group-prepend"><span class="input-group-text" id="basic-addon1"><i class="fa fa-filter" aria-hidden="true"></i></span></div>
		  <input type="text" class="form-control" placeholder="C&eacute;dula:" aria-describedby="basic-addon1" ng-model="busqueda_cedula">
		</div>
	</div>
	<div class="col-3 text-right">
		<button type="button" class="btn btn-circle btn-info" ng-disabled="esperando" ng-click="buscar()"><i class="fa fa-search" aria-hidden="true"></i></button>
		<button type="button" class="btn btn-circle btn-success" data-toggle="modal" 
				data-target="#profModal" ng-click="open()" >
			<i class="fa fa-plus" aria-hidden="true"></i></button>
	</div>	
</div><br>
<div class="row">
<div class="col-md-12">
	<div class="card">
		<div class="card-body">
		<h5 class="card-title">Profesores</h5>
		<div class="table-responsive">
			<table class="table table-hover table-sm">
	            <thead class="thead">
	              <tr>
	                <th><a ng-click="ordenar('titulo');">Titulo</a>
	                	<div style="display:inline;" ng-show="order=='titulo' && orderAsc"><i class="fa fa-sort-amount-asc" aria-hidden="true"></i></div>
	                	<div style="display:inline;" ng-show="order=='titulo' && !orderAsc"><i class="fa fa-sort-amount-desc" aria-hidden="true"></i></div>
	                </th>
	                <th><a ng-click="ordenar('nombre');">Nombre</a>
	                	<div style="display:inline;" ng-show="order=='nombre' && orderAsc"><i class="fa fa-sort-amount-asc" aria-hidden="true"></i></div>
	                	<div style="display:inline;" ng-show="order=='nombre' && !orderAsc"><i class="fa fa-sort-amount-desc" aria-hidden="true"></i></div>
	                </th>
	                <th><a ng-click="ordenar('apellido');">Apellido</a>
	                	<div style="display:inline;" ng-show="order=='apellido' && orderAsc"><i class="fa fa-sort-amount-asc" aria-hidden="true"></i></div>
	                	<div style="display:inline;" ng-show="order=='apellido' && !orderAsc"><i class="fa fa-sort-amount-desc" aria-hidden="true"></i></div>
	                </th>
	                <th><a ng-click="ordenar('cedula');">C&eacute;dula</a>
	                	<div style="display:inline;" ng-show="order=='cedula' && orderAsc"><i class="fa fa-sort-amount-asc" aria-hidden="true"></i></div>
	                	<div style="display:inline;" ng-show="order=='cedula' && !orderAsc"><i class="fa fa-sort-amount-desc" aria-hidden="true"></i></div>
	                </th>
	                <th><a ng-click="ordenar('celular');">Celular</a>
	                	<div style="display:inline;" ng-show="order=='celular' && orderAsc"><i class="fa fa-sort-amount-asc" aria-hidden="true"></i></div>
	                	<div style="display:inline;" ng-show="order=='celular' && !orderAsc"><i class="fa fa-sort-amount-desc" aria-hidden="true"></i></div>
	                </th>
					<th>&nbsp;</th>
	              </tr>
	            </thead>
	            <tbody>
						<tr ng-repeat="p in profesores">
						<td>{{p.titulo}}</td>
		                <td>{{p.nombre}}</td>
		                <td>{{p.apellido}}</td>
		                <td>{{p.cedula}}</td>
		                <td>{{p.celular}}</td>
						<td align="right">				
							<button type="button" class="btn btn-outline-primary btn-sm" data-toggle="modal" data-target="#confirmModal" ng-click="eliminar($index)" data-placement="bottom" title="Eliminar" bootstrap-tooltip><i class="fa fa-trash" aria-hidden="true"></i></button>
							<button type="button" class="btn btn-outline-primary btn-sm" ng-click="gotoProfesor($index)" data-toggle="tooltip" data-placement="bottom" title="Configurar Datos Personales" bootstrap-tooltip><i class="fa fa-address-card" aria-hidden="true"></i></button>
							<button type="button" class="btn btn-outline-primary btn-sm" ng-click="gotoSlotProfesor($index)" data-toggle="tooltip" data-placement="bottom" title="Configurar Disponibilidad" bootstrap-tooltip><i class="fa fa-sliders" aria-hidden="true"></i></button>
						</td>
						</tr>
					<tr ng-show="esperando || error || vacio">
	            		<td colspan="6">
		            		<div ng-show="esperando" class="animated">
								<div class="cssload-container">
									<div class="cssload-loading"><i></i><i></i><i></i><i></i></div>
								</div>
							</div>
		            		<div ng-show="!esperando && error" class="animated">No hay datos que mostrar.</div>
		            		<div ng-show="vacio" class="animated">Su b&uacute;queda no arroj&oacute; resultados.</div>
	            		</td>
	            	</tr>
	            </tbody>
	          </table>			
		</div></div>
		
		
		<div class="card-footer">
		    <table class="table borderless" style="margin-bottom: 0px !important;" >
	    	    <tr ng-hide="esperando || error || vacio">
					<td align="left" style="border-top:none !important; padding:0px !important">
						<small><b><i>P&aacute;gina: {{page}}</i></b></small>
						
					</td>
					<td align="right" style="border-top:none !important; padding:0px !important">
						<button type="button" class="btn btn-sm btn-default" ng-click="anterior();" ng-disabled="page==1 || esperando"><i class="fa fa-backward" aria-hidden="true"></i></button>
						<button type="button" class="btn btn-sm btn-default" ng-click="siguiente();" ng-disabled="ultima ||esperando"><i class="fa fa-forward" aria-hidden="true"></i></button>
					</td>
				</tr>
		    </table>
		</div>
	</div>
</div>
</div>

<!-------------------------         AGREGAR POPUP        -------------------------------->



<div  id="profModal" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" novalidate>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
    	<div class="modal-header">
	        <h5 class="modal-title">{{title_modal}}</h5>
      	</div>
      	<div class="modal-body">
	        <table style="padding: 2px" class="separar" width="100%">
				<tbody>
					<tr>
						<td width="30%">Titulo:</td>
						<td width="70%"><input id="inputTitulo" class="form-control"
							placeholder="Titulo" ng-model="p.titulo">
							<div class="invalid-feedback">
							    Campo Requerido 
							</div>
						</td>
					</tr>
					<tr>
						<td>Nombre:</td>
						<td><input id="inputNombre" class="form-control" 
							placeholder="Nombre" ng-model="p.nombre" >
							<div class="invalid-feedback">
							    Campo Requerido 
							</div>
						</td>
					</tr>
					<tr>
						<td>Apellido:</td>
						<td><input id="inputApellido" class="form-control" 
							placeholder="Apellido" ng-model="p.apellido" >
							<div class="invalid-feedback">
							    Campo Requerido 
							</div>
						</td>
					</tr>
					<tr>
						<td>C&eacute;dula:</td>
						<td><input id="inputCedula" class="form-control" 
							placeholder="C&eacute;dula" ng-model="p.cedula" >
						</td>
					</tr>
					<tr>
						<td>Celular:</td>
						<td><input id="inputCelular" class="form-control"
							 placeholder="Celular" ng-model="p.celular" >
						</td>
					</tr>
					<tr>
						<td>Correo:</td>
						<td><input id="inputCorreo" class="form-control" 
							placeholder="Correo" ng-model="p.correo" >
						</td>
					</tr>
					<tr>
						<td>Notificar por correo:</td>
						<td><input type="checkbox" id="inputNotificar" 
							ng-model="p.notificar">
						</td>
					</tr>
				</tbody>
			</table>
        </div>
		<div class="modal-footer">
			<button type="button" class="btn btn btn-success"
				ng-click="guardar()">
				<i class="fa fa-floppy-o" aria-hidden="true"></i> Guardar</button>
			<button type="button" class="btn btn btn-danger" data-dismiss="modal">
				<i class="fa fa-times" aria-hidden="true"></i> Cancelar</button>
		</div>
    </div>
  </div>
</div>


<!-------------------------         CONFIRM POPUP        ------------------------------>

<div id="confirmModal" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
    	<div class="modal-header">
	        <h5 class="modal-title">{{title_modal}}</h5>
      	</div>
      	<div class="modal-body">
	        <table style="padding: 2px" class="separar" width="100%">
				<tbody>
					<tr>
						<td colspan="2">
							<p>{{message_modal}}</p>
						</td>
					</tr>
				</tbody>
			</table>
        </div>
		<div class="modal-footer">
			<button type="button" class="btn btn btn-success" data-dismiss="modal"
				ng-click="confirmDelete()">
				<i class="fa fa-floppy-o" aria-hidden="true"></i> Confirmar</button>
			<button type="button" class="btn btn btn-danger" data-dismiss="modal">
				<i class="fa fa-times" aria-hidden="true"></i> Cancelar</button>
		</div>
    </div>
  </div>
</div>