<div class="row">
	<div class="col">
		<h1 align="center">	{{nombreProfesor}} </h1>
	</div>
</div>

<div class="row">
<div class="col-md-6">
	<div id="cardInformacion" class="card" novalidate>
		<div class="card-body">
			<h5 class="card-title">Informaci&oacute;n</h5>
			<label for="inputTitulo">Titulo:</label>
			<div class="input-group">
					<div class="input-group-prepend"><span class="input-group-text" id="basic-addon1"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></span></div>
				<input id="inputTitulo" class="form-control" placeholder="Titulo" ng-model="profesor.titulo" ng-disabled="!editar">
			</div>
			<input ng-show="false" class="form-control">
			<div class="invalid-feedback">
			      Campo Requerido 
			</div>
			<br>			
			<label for="inputNombre">Nombre:</label>
			<div class="input-group">
					<div class="input-group-prepend"><span class="input-group-text" id="basic-addon1"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></span></div>
				<input id="inputNombre" class="form-control" placeholder="Nombre" ng-model="profesor.nombre" ng-disabled="!editar">
			</div>
			<input ng-show="false" class="form-control">
			<div class="invalid-feedback">
			      Campo Requerido 
			</div>
			<br>
			<label for="inputApellido">Apellido:</label>
			<div class="input-group">
					<div class="input-group-prepend"><span class="input-group-text" id="basic-addon1"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></span></div>
				<input id="inputApellido" class="form-control" placeholder="Apellido" ng-model="profesor.apellido" ng-disabled="!editar">
			</div>
			<input ng-show="false" class="form-control">
			<div class="invalid-feedback">
			      Campo Requerido 
			</div>
			<br>
			<label for="inputCedula">C&eacute;dula:</label>
			<div class="input-group">
					<div class="input-group-prepend"><span class="input-group-text" id="basic-addon1"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></span></div>
				<input id="inputCedula" class="form-control" placeholder="C&eacute;dula" ng-model="profesor.cedula" ng-disabled="!editar">
			</div><br>
			<label for="inputCelular">Celular:</label>
			<div class="input-group">
					<div class="input-group-prepend"><span class="input-group-text" id="basic-addon1"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></span></div>
				<input id="inputCelular" class="form-control" placeholder="Celular" ng-model="profesor.celular" ng-disabled="!editar">
			</div><br>
			<label for="inputCorreo">Correo:</label>
			<div class="input-group">
					<div class="input-group-prepend"><span class="input-group-text" id="basic-addon1"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></span></div>
				<input type="email" id="inputCorreo" class="form-control" placeholder="Correo" ng-model="profesor.correo" ng-disabled="!editar">
			</div><br>
			<label for="inputNotificar">Notificar por correo:</label>
			<input type="checkbox" id="inputNotificar" ng-model="profesor.notificar"><br>
			
			<button style="width: 100%" type="button" class="btn btn-sm btn-info" ng-click="edit();" ng-disabled="esperando || error || editar"><i class="fa fa fa-pencil-square-o" aria-hidden="true"></i> Editar</button><br><br>
			<button style="width: 100%" type="button" class="btn btn-sm btn-success" ng-click="guardar();" ng-disabled="esperando || error || !editar"><i class="fa fa-floppy-o" aria-hidden="true"></i> Guardar</button><br><br>
			<button style="width: 100%" type="button" class="btn btn-sm btn-danger" ng-click="cancelar();" ng-disabled="esperando || error || !editar"><i class="fa fa-trash" aria-hidden="true"></i> Cancelar</button><br><br>
		</div>
	</div>
</div>
<div class="col-md-6">
	<div class="card">
		<div class="card-body">
			<h5 class="card-title">Asignaturas</h5>
			<table class="table table-hover table-responsive table-sm">
	            <thead class="thead">
	              <tr>
	                <th width="70%">Asignatura</th>
	                <th width="10%">Turno</th>
	                <th width="10%">Secci&oacute;n</th>
	                <th width="10%">Editar</th>
	              </tr>
	            </thead>
	            <tbody>
						<tr ng-repeat="a in profesor.asignaturas">
						<td>{{a.asignatura}}</td>
						<td>{{a.turno}}</td>
						<td>{{a.seccion}}</td>
		                <td align="center">
			                <button type="button" class="btn btn-outline-primary btn-sm"
								ng-click="editarAsignatura($index)" data-toggle="tooltip"
								data-placement="bottom" title="Editar" bootstrap-tooltip>
								<i class="fa fa-pencil-square-o" aria-hidden="true"></i>
							</button>
		                </td>
						</tr>
					<tr ng-show="esperando || error || vacio">
	            		<td colspan="5">
		            		<div ng-show="esperando" class="animated">
			            		<div class="cssload-container">
									<div class="cssload-loading"><i></i><i></i><i></i><i></i></div>
								</div>
		            		</div>
		            		<div ng-show="!esperando && error" class="animated">No hay datos que mostrar.</div>
	            		</td>
	            	</tr>
	            </tbody>
	          </table>
		</div>
	</div>
	
	<br><br>
	
	<div class="card" ng-show="permisoGestionDeUsuario">
		<div class="card-body">
			<h5 class="card-title">Perfil</h5>
			<table class="table table-hover table-responsive table-sm">
	            <thead class="thead">
	              <tr>
	                <th width="90%">Permisos</th>
	                <th width="10%">Eliminar</th>
	              </tr>
	            </thead>
	            <tbody>
						<tr ng-repeat="p in perfiles">
							<td>{{p.nombre}}</td>
			                <td align="center">
			                	<button type="button" class="btn btn-outline-primary btn-sm" data-toggle="modal" data-target="#confirmModal" ng-click="eliminarPermiso($index)" 
			                		data-placement="bottom" title="Eliminar" bootstrap-tooltip><i class="fa fa-trash" aria-hidden="true"></i></button>
				             </td>
						</tr>
						<tr>							
							<td></td>
							<td align="center"><button type="button" class="btn btn-success" data-toggle="modal" data-target="#permisoModal" ng-click="nuevoPermiso()" title="Nuevo Permiso" bootstrap-tooltip><i class="fa fa-plus" aria-hidden="true"></i></button> </td>
						</tr>
						<tr ng-show="esperandoPerfiles || errorPerfiles || vacioPerfiles">
		            		<td colspan="5">
			            		<div ng-show="esperandoPerfiles" class="animated">
				            		<div class="cssload-container">
										<div class="cssload-loading"><i></i><i></i><i></i><i></i></div>
									</div>
			            		</div>
			            		<div ng-show="!esperandoPerfiles && errorPerfiles" class="animated">No hay datos que mostrar.</div>
			            		<div ng-show="vacioPerfiles" class="animated">Su b&uacute;queda no arroj&oacute; resultados.</div>
		            		</td>
		            	</tr>
	            </tbody>
	          </table>
			
		</div>
	</div>
</div>
</div>


<!-------------------------         AGREGAR POPUP        ------------------------------>

<div  id="permisoModal" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" novalidate>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
    	<div class="modal-header">
	        <h5 class="modal-title">Agregar Permiso</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
      	</div>
      	<div class="modal-body">
	        <form>
		        <table style="padding: 2px" class="separar" width="100%">
					<tbody>
						<tr>
				       		<select class="form-control form-control-sm" ng-model="permiso" ng-options="p as p.nombre for p in permisos">
	                		</select>
	                		<input ng-show="false" type="text" class="form-control" placeholder="permiso">
	                		<div class="invalid-feedback">
						        Campo Requerido 
						     </div>
						</tr>
						
					</tbody>
				</table>
	        </form>
        </div>
		<div class="modal-footer">
			<button type="button" class="btn btn btn-success"
				ng-click="confirmAgregar()">
				<i class="fa fa-floppy-o" aria-hidden="true"></i> Confirmar</button>
			<button type="button" class="btn btn btn-danger" data-dismiss="modal">
				<i class="fa fa-times" aria-hidden="true"></i> Cancelar</button>
		</div>
    </div>
  </div>
</div>

<!-------------------------         CONFIRM POPUP        ------------------------------>

<div id="confirmModal" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
    	<div class="modal-header">
	        <h5 class="modal-title">{{title_modal}}</h5>
      	</div>
      	<div class="modal-body">
	        <table style="padding: 2px" class="separar" width="100%">
				<tbody>
					<tr>
						<td colspan="2">
							<p>{{message_modal}}</p>
						</td>
					</tr>
				</tbody>
			</table>
        </div>
		<div class="modal-footer">
			<button type="button" class="btn btn btn-success" data-dismiss="modal"
				ng-click="confirmDelete()">
				<i class="fa fa-floppy-o" aria-hidden="true"></i> Confirmar</button>
			<button type="button" class="btn btn btn-danger" data-dismiss="modal">
				<i class="fa fa-times" aria-hidden="true"></i> Cancelar</button>
		</div>
    </div>
  </div>
</div>