<h1 align="center">Reportes</h1>
<br>
<span ng-show="progreso>0">
<h3>Progreso de actualizaci&oacute;n</h3>
<div class="progress">
  	<div class="progress-bar bg-success progress-bar-striped progress-bar-animated" role="progressbar" style="width: {{progreso}}%" aria-valuenow="{{progreso}}" aria-valuemin="0" aria-valuemax="100"></div>
</div>
</span>
<br>
<h3>Generar Reportes</h3>
<br>
<div id="cardInformacion" class="card" novalidate>
		<div class="card-header">
				<ul class="nav nav-tabs" role="tablist" >
						<li class="nav-item">
						  <a ng-class="{'nav-link':true, 'active':identificador=='profesores'}" ng-click="identificador='profesores'">Profesores</a>
						</li>
						<li class="nav-item">
						  <a ng-class="{'nav-link':true, 'active':identificador=='aulas'}" ng-click="identificador='aulas'">Aulas</a>
						</li>
						<li class="nav-item">
						  <a ng-class="{'nav-link':true, 'active':identificador=='carreras'}" ng-click="identificador='carreras'">Carreras</a>
						</li>
				  </ul>
		</div>
		<div class="card-body"><blockquote class="card-blockquote">
<div class="row">
	<div class="col-12">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
				<button style="width: 100%" type="button" class="btn btn-sm btn-info" ng-click="downloadReport('horario');" ng-disabled="esperando"><i class="fa fa-calendar" aria-hidden="true"></i> Descargar Horario</button>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
				<button style="width: 100%" type="button" class="btn btn-sm btn-info" ng-click="downloadReport('examenes');" ng-disabled="esperando"><i class="fa fa-file-text-o" aria-hidden="true"></i> Descargar Examenes</button>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
				<button style="width: 100%" type="button" class="btn btn-sm btn-warning" ng-click="actualizarReportes()" ng-disabled="progreso>0"><i class="fa fa-refresh" aria-hidden="true"></i> Actualizar</button>
			</div>
		</div><br><br>
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<div class="table-responsive">
				     <table style="border-collapse: collapse; width: 100%" class="table table-hover table-sm">
						<tbody>
							<tr class="thead">
								<th>
									<div ng-show="!selectedAll" >
				                		<a ng-click="selectAll()"><i class="fa fa-check-square-o" aria-hidden="true"></i></a>
				                	</div>
					             	<div ng-show="selectedAll">
					             		<a ng-click="selectAll()"><i class="fa fa-square-o" aria-hidden="true"></i></a>
					             	</div>
								</th>
								<th>
									<div class="input-group">
									  <div class="input-group-prepend"><span class="input-group-text" id="basic-addon1"><i class="fa fa-filter" aria-hidden="true"></i></span></div>
									  <input type="text" class="form-control" placeholder="{{identificador}}" aria-describedby="basic-addon1" ng-model="search.label">
									</div>
								</th>
						    <tr ng-repeat='e in queries[identificador] | filter:search'>
				                <td>
				                	<div ng-show="e.selected" >
				                		<a ng-click="e.selected=false"><i class="fa fa-check-square-o" aria-hidden="true"></i></a>
				                	</div>
					             	<div ng-show="!e.selected">
					             		<a ng-click="e.selected=true"><i class="fa fa-square-o" aria-hidden="true"></i></a>
					             	</div>
				      			</td>
						       <td>{{e.label}}</td>
						    </tr>			    
						</tbody>
					</table>
				</div>
			</div>
		</div> 
	</div>
</div></blockquote></div></div>