<div class="row">
<div class="col">

<h1 align="center">
		Administraci&oacute;n de Usuarios
	</h1>
</div>
</div>

<div class="row">
	<div class="col-4">
		<div class="input-group">
			<div class="input-group-prepend">
				<div class="input-group-text"><i class="fa fa-filter" aria-hidden="true"></i></div>
			</div>
			<input type="text" class="form-control" placeholder="Usuario" ng-model="busquedaUsu_nombre">
		</div>
	</div>
	<div class="col-2" style="padding-left: 0px;">
		<button type="button" class="btn btn-primary btn-circle" ng-disabled="esperando"  ng-click="buscarUsu()"><i class="fa fa-search" aria-hidden="true"></i></button>
	</div>
	<div class="col-6 text-right">
		<button type="button" class="btn btn-success btn-circle" ng-disabled="esperando"  ng-click="open(1)" data-toggle="modal" 
							data-target="#usuModal"><i class="fa fa-plus" aria-hidden="true"></i></button>				
	</div>
</div>
<br>

<div class="row">
<div class="col">
	<div class="card">
		<div class="card-body">
		<h5 class="card-title">Usuarios</h5>
		<div class="table-responsive">
			<table class="table table-hover table-sm">
	            <thead class="thead">
	              <tr>
	                <th><a ng-click="ordenar('nombre');">Nombre</a>
	                	<div style="display:inline;" ng-show="order=='nombre' && orderAsc"><i class="fa fa-sort-amount-asc" aria-hidden="true"></i></div>
	                	<div style="display:inline;" ng-show="order=='nombre' && !orderAsc"><i class="fa fa-sort-amount-desc" aria-hidden="true"></i></div>
	                </th>
	                <th><a ng-click="ordenar('profesor');">Profesor</a>
	                	<div style="display:inline;" ng-show="order=='profesor' && orderAsc"><i class="fa fa-sort-amount-asc" aria-hidden="true"></i></div>
	                	<div style="display:inline;" ng-show="order=='profesor' && !orderAsc"><i class="fa fa-sort-amount-desc" aria-hidden="true"></i></div>
	                </th>
	                <th>Estado</th>
	                <th>Login</th>
					<th>&nbsp;</th>
	              </tr>
	            </thead>
	            <tbody>
						<tr ng-repeat="u in usuarios">
		                <td>{{u.nombre}}</td>
		                <td>{{u.nombreProfesor}}</td>
		                <td>{{u.bloqueado?'BLOQUEADO':'ACTIVO'}}</td>
		                <td>{{fecha(u.lastLogin)}}</td>
						<td align="right">
							<button type="button" class="btn btn-outline-primary btn-sm"  ng-disabled="u.idProfesor == null" ng-click="gotoProfesor($index)" data-toggle="tooltip" data-placement="bottom" title="Configurar Datos Personales" bootstrap-tooltip><i class="fa fa-address-card" aria-hidden="true"></i></button>
						</td>
						</tr>
					<tr ng-show="esperando || error || vacio">
	            		<td colspan="5">
		            		<div ng-show="esperando" class="animated">
			            		<div class="cssload-container">
									<div class="cssload-loading"><i></i><i></i><i></i><i></i></div>
								</div>
		            		</div>
		            		<div ng-show="!esperando && error" class="animated">No hay datos que mostrar.</div>
		            		<div ng-show="vacio" class="animated">Su b&uacute;queda no arroj&oacute; resultados.</div>
	            		</td>
	            	</tr>
	            </tbody>
	          </table>			
		</div>
		</div>
		  <div class="card-footer">
		    <table class="table borderless" style="margin-bottom: 0px !important;" >
		    	<tr ng-hide="esperando || error || vacio">
					<td align="left" style="border-top:none !important; padding:0px !important">
						<small><b><i>P&aacute;gina: {{page}}</i></b></small>
						
					</td>
					<td align="right" style="border-top:none !important; padding:0px !important">
						<button type="button" class="btn btn-sm btn-default" ng-click="anteriorUsu();" ng-disabled="page==1 || esperando"><i class="fa fa-backward" aria-hidden="true"></i></button>
						<button type="button" class="btn btn-sm btn-default" ng-click="siguienteUsu();" ng-disabled="ultimaUsuario ||esperando"><i class="fa fa-forward" aria-hidden="true"></i></button>
					</td>
				</tr>
		    </table>
		  </div>
	</div>
</div>
</div>






<!-------------------------         AGREGAR POPUP        -------------------------------->

<div  id="usuModal" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" novalidate>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
    	<div class="modal-header">
	        <h5 class="modal-title">{{title_modal}}</h5>
      	</div>
      	<div class="modal-body">
	        <table style="padding: 2px" class="separar" width="100%">
				<tbody>
					<tr>
						<td width="30%">Nombre:</td>
						<td width="80%"><input id="inputNombre" class="form-control" 
							placeholder="Nombre" ng-model="u.nombre" >
							<div class="invalid-feedback">
						        Campo Requerido 
						     </div></td>
					</tr>
					<tr>
						<td>Profesor:</td>
						<td>
							<table>
								<tr>
									<td width="90%">
										<div class="input-group">
												<div class="input-group-prepend"><span class="input-group-text" id="basic-addon1"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></span></div>
											<input type="text" class="form-control" placeholder="Profesor" aria-describedby="basic-addon1" ng-model="u.nombreProfesor" disabled="true">
										</div>
									</td>
									<td width="10%">
										<button style="width: 100%" type="button" class="btn btn-primary" data-toggle="modal" data-target="#selectProfeModal" ng-click="asignarProfesor()" ><i class="fa fa-search" aria-hidden="true"></i></button>
									</td>
								</tr>
							</table>
							<input ng-show="false" type="text" class="form-control" placeholder="Profesor">
							<div class="invalid-feedback">
							       	Campo Requerido 
							</div>
						</td>
					</tr>
					<tr>
						<td>Bloqueado:</td>
						<td><input type="checkbox" id="inputBloqueado" ng-model="u.bloqueado">
						</td>
					</tr>
				</tbody>
			</table>
        </div>
		<div class="modal-footer">
			<button type="button" class="btn btn btn-success" 
				ng-click="guardarUsu()">
				<i class="fa fa-floppy-o" aria-hidden="true"></i> Guardar</button>
			<button type="button" class="btn btn btn-danger" data-dismiss="modal">
				<i class="fa fa-times" aria-hidden="true"></i> Cancelar</button>
		</div>
    </div>
  </div>
</div>



<!-------------------------         SELECTED PROFESOR POPUP        -------------------------------->

<div  id="selectProfeModal" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
    	<div class="modal-header">
	        <h5 class="modal-title">{{title_modal_profesor}}</h5>
      	</div>
      	<div class="modal-body">
	        <table style="padding: 2px" class="separar" width="100%">
				<tbody>
					<tr>
						<td width="50%"><input id="inputNombreP" class="form-control" placeholder="Nombre" ng-model="b_nombre"><br></td>
						<td width="50%"><input id="inputCedula" class="form-control" placeholder="C&eacute;dula" ng-model="b_cedula"><br></td>
					</tr>
					<tr>				
						<td colspan="2"><button style="width: 100%" type="button" class="btn btn-sm btn-info" ng-disabled="esperando"
									ng-click="buscar(b_nombre, b_cedula)"><i class="fa fa-search" aria-hidden="true"></i> Filtrar</button></td>
					</tr>
					<tr>
						<table colspan="2" class="tableScroll table">
				            <thead>
				              <tr>
				                <th width="60%">Nombre</th>
				                <th width="30%">C&eacute;dula</th>
				                <th width="10%"></th>
				              </tr>
				            </thead>
				            <tbody>
								<tr ng-repeat="p in profesores">
					                <td>{{p.titulo}} {{p.nombre}} {{p.apellido}}</td>
					                <td>{{p.cedula}}</td>
					                <td><a><i class="fa fa-check" aria-hidden="true" data-dismiss="modal" ng-click="selectedProfesor($index)"></i></a></td>
								</tr>
								<tr ng-show="esperando || error || vacio">
				            		<td colspan="3">
					            		<div ng-show="esperando" class="animated">
						            		<div class="cssload-container">
												<div class="cssload-loading"><i></i><i></i><i></i><i></i></div>
											</div>
										</div>
					            		<div ng-show="!esperando && error" class="animated">No hay datos que mostrar.</div>
					            		<div ng-show="vacio" class="animated">Su b&uacute;queda no arroj&oacute; resultados.</div>
				            		</td>
				            	</tr>
				            	<tr ng-hide="esperando || error || vacio">
									<td align="left" colspan="1">
										<small><b><i>P&aacute;gina: {{page}}</i></b></small>
										
									</td>
									<td align="right" colspan="2">
										<button style="width: 40%" type="button" class="btn btn-sm btn-default" ng-click="anterior();" ng-disabled="page==1 || esperando"><i class="fa fa-backward" aria-hidden="true"></i></button>
										<button style="width: 40%" type="button" class="btn btn-sm btn-default" ng-click="siguiente();" ng-disabled="ultima ||esperando"><i class="fa fa-forward" aria-hidden="true"></i></button>
									</td>
								</tr>
				            </tbody>
			          </table>
					</tr>
				</tbody>
			</table>
        </div>
        
		<div class="modal-footer">
			<button type="button" class="btn btn btn-danger" data-dismiss="modal">
				<i class="fa fa-times" aria-hidden="true"></i> Cancelar</button>
		</div>
    </div>
  </div>
</div>

